<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Application<i class=&quot;feather icon-chevron-right&quot; ></i>Usage<i class=&quot;feather icon-chevron-right&quot; ></i>Usage Overview')"/>
    <div id="main_contents">

        <!-- [Groups] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 pr_0 mb_0" ><i class="feather icon-chevrons-right"></i> Application usage <span class="main_stitle">[2020.07.07 15 00:00~24:00]</span>
                <!--#### [수정 2020-07-21] 시작 #######-->
                <!-- 드롭박스 시작 --><div class="dropdown d_ib f_r">
                    <button class="list_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        All Namespace <i class="feather icon-chevron-down form-control-feedback  search_topbar_i" ></i></span>
                    </button>
                    <ul class="dropdown-menu shadow animated--grow-in" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                    <!-- 드롭박스 끝 --></div>
                <!-- search 박스 시작 --><div class="dropdown d_ib f_r mr_5">
                    <div class="form-group has-feedback d_ib">
                        <input type="text" placeholder="Search" class="search_table">
                        <i class="feather icon-search form-control-feedback search_topbar_i" ></i>
                    </div>
                    <!-- search 박스 끝 --></div>
                <!--#### [수정 2020-07-21] 끝 ########-->

            </div>
        </div>

        <div class="col-xs-12" style="padding-right:0px;">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span class="point pr_10">3</span>  Page : <span class="point">1</span>/1
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Application</th>
                            <th>Type</th>
                            <th>Namespace</th>
                            <th>Node</th>
                            <th>Pod</th>
                            <th>CPU avg.</th>
                            <th>MEM avg.</th>
                            <th>Filesystem avg.</th>
                            <th>Network I/O avg.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a  href="" data-toggle="modal" data-target="#myModal">신계약</a>
                                <!-- [Modal] start -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-lg" style="width:765px;">
                                        <div class="modal-content">

                                            <div class="modal-title_box">
                                                <div class="modal-title">
                                                    <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <span id="myModalLabel">Application : 신계약</span>
                                                </div>
                                            </div>

                                            <div class="modal-nbody row_scroll">
                                                <div class="table-title">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Daily
                                                        </label>&nbsp;&nbsp;
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Monthly
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="box_panel">
                                                        <div class="box_modal-heading">CPU (core)</div>
                                                        <div class="box_modal-body">
                                                            <img th:src="@{/assets/img/chart7.jpg}" class="img-responsive" alt="" style="width:100%; height:70%;">
                                                        </div>
                                                    </div>
                                                </div>	 <div class="row">
                                                <div class="box_panel">
                                                    <div class="box_modal-heading">MEM (MiB)</div>
                                                    <div class="box_modal-body">
                                                        <img th:src="@{/assets/img/chart7.jpg}" class="img-responsive" alt="" style="width:100%; height:70%;">
                                                    </div>
                                                </div>
                                            </div>	 <div class="row">
                                                <div class="box_panel">
                                                    <div class="box_modal-heading">Filesystem (KiB)</div>
                                                    <div class="box_modal-body">
                                                        <img th:src="@{/assets/img/chart7.jpg}" class="img-responsive" alt="" style="width:100%; height:70%;">
                                                    </div>
                                                </div>
                                            </div>	 <div class="row">
                                                <div class="box_panel">
                                                    <div class="box_modal-heading">Network I/O (Baud)</div>
                                                    <div class="box_modal-body">
                                                        <img th:src="@{/assets/img/chart7.jpg}" class="img-responsive" alt="" style="width:100%; height:70%;">
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [Modal] End -->
                            </td>
                            <td>POD</td>
                            <td>hlicore</td>
                            <td>HLI001</td>
                            <td>3</td>
                            <td>1.2 core</td>
                            <td>299.11MiB</td>
                            <td>78.1Ki</td>
                            <td>15.9B</td>
                        </tr>
                        <tr>
                            <td>신계약</td>
                            <td>POD</td>
                            <td>hlicore</td>
                            <td>HLI001</td>
                            <td>3</td>
                            <td>1.2 core</td>
                            <td>299.11MiB</td>
                            <td>78.1Ki</td>
                            <td>15.9B</td>
                        </tr>
                        <tr>
                            <td>신계약</td>
                            <td>POD</td>
                            <td>hlicore</td>
                            <td>HLI001</td>
                            <td>3</td>
                            <td>1.2 core</td>
                            <td>299.11MiB</td>
                            <td>78.1Ki</td>
                            <td>15.9B</td>
                        </tr>
                        <tr>
                            <td>신계약</td>
                            <td>POD</td>
                            <td>hlicore</td>
                            <td>HLI001</td>
                            <td>3</td>
                            <td>1.2 core</td>
                            <td>299.11MiB</td>
                            <td>78.1Ki</td>
                            <td>15.9B</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center"><!-- 페이지넘버 -->
            <nav>
                <ul class="pagination" >
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- [Groups] End-->
    </div>
</div>
</body>
</html>