<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">

        <!-- [Groups] start -->
        <div class="row">
            <div class="main_title_top" ><i class="feather icon-chevrons-right"></i> Groups
                <div class="dropdown d_ib f_r">
                        <button class="btn btn-md btn-outline-white" id="btnNew" ><i class="feather icon-file-text"></i> NEW</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(groupList) ? '0' : groupList.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>그룹명</th>
                            <th>사용자</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(groupList)}">
                            <td colspan="3" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(groupList)}" th:each="group : ${groupList}">
                            <td>
                                <a class="table2-link" th:href="'javascript:groupDetail(&quot;'+ ${group?.groupname} + '&quot;)'"
                                   th:utext="${group?.groupname}"></a>
                            </td>
                            <td th:text="${group?.users.size()}"></td>
                            <td th:text="${#temporals.format(group?.createTime, 'yyyy-MM-dd hh:mm:ss')}"> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Modal] start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
                <div class="modal-content">
                    <div class="modal-title_box">
                        <div class="modal-title">
                            <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="f_r"><button class="btn_save_i feather icon-save" id="btnSave"></button></div>
                            <div class="f_r"><button class="btn_save_i feather icon-trash-2" id="btnDelete"></button></div>
                            <span id="myModalLabel" th:text="|Group : ${group?.groupname}|"></span>
                        </div>
                    </div>
                    <div class="modal-nbody">
                        <div class="table-title">

                        </div>
                        <div class="row">
                            <table class="table-nt">
                                <tr>
                                    <th>그룹명</th>
                                    <td id="groupnameTd">
                                        <input type="text" id="groupname" minlength="5" maxlength="40" style="width:100%;"
                                               th:value="${group?.groupname}">
                                    </td>
                                </tr>
                                <tr id="usernameTr">
                                    <th>그룹 사용자</th>
                                    <td>
                                        <div class="row" th:if="${group?.users}" th:each="user : ${group?.users}">
                                            <div th:text="|${user.username} [${user.name}]|"/>
                                        </div>
                                        <div class="row" th:if="${#arrays.isEmpty(group?.users)}">-</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>설명</th>
                                    <td id="descriptionTd">
                                        <input type="text" style="width:100%;" maxlength="200" id="description"
                                               th:value="${group?.description}">
                                    </td>
                                </tr>
                                <tr id="updateTimeTr">
                                    <th>최종변경일</th>
                                    <td>
                                        <div id="updateTime" th:text="${#temporals.format(group?.updateTime, 'yyyy-MM-dd hh:mm:ss')}"> </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [Modal] End -->
        <!-- [Groups] End-->
    </div>
    <input type="hidden" id="var-groupname" value=""/>
    <input type="hidden" id="var-description" value=""/>
    <script type="text/javascript" th:inline="javascript">

        var $groupName = $("#var-groupname");
        var $description = $("#var-description");

        var $groupnameTd;
        var $descriptionTd;

        function groupDetail(groupname) {
            $.ajax({
                url: "/security/groups/" + groupname,
                success: function (data) {
                    $groupnameTd = $('#groupnameTd').html();
                    $descriptionTd = $('#descriptionTd').html();

                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                    $('#btnSave').hide();

                    $groupName.val( $('#groupname').val() );
                    $description.val( $('#description').val() );

                    $('#groupnameTd').html($groupName.val());
                    $('#descriptionTd').html($description.val());
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

        // modal reset
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('#usernameTr').html('');
            $('#updateTimeTr').html('');
            $('#groupnameTd').html($groupnameTd);
            $('#descriptionTd').html($descriptionTd);
            $('#groupname').val('');
            $('#description').val('');
        });

        // btnNew event
        $(document).ready(function () {
           $('#btnNew').on('click', function () {
               $('#myModal').modal();
               $('#myModalLabel').text('Group');
               $('#btnDelete').hide();
               $('#btnSave').show();
               $('#groupName').attr('text', '');
               $('#usernameTr').html('');
               $('#updateTimeTr').html('');
            });
        });

        // insert event
        $(document).on("click", "#btnSave", function(event){
           let groupname = $("#groupname").val();
           let description = $("#description").val();

           if (groupname === '') {
               alert( "그룹명을 입력해주세요." );
               $("#groupname").focus();
               return;
           }

           if (groupname.length < 5) {
               alert( "그룹명은 최소 5자리 입니다." );
               $("#groupname").focus();
               return;
           }

           if (description === '') {
               alert( "설명을 입력해주세요." );
               $("#description").focus();
               return;
           }

           var msg = confirm( "등록하시겠습니까?" );

           if (msg === true) {
               $.ajax({
                    url: "/security/groups/save",
                    type: "post",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    data : {
                        'groupname'   : groupname,
                        'description' : description
                    },
                    success: function (e) {
                        if (e.success === true) {
                            alert('등록이 완료되었습니다.');
                            $('#myModal').hide();
                            $(location).attr('href', '/security/groups/')
                        } else {
                            alert(e.message);
                        }
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
               });
           } else if (msg === false) {
               return;
           }
        });

        // delete event
        $(document).on("click", "#btnDelete", function(event){
           let groupname = $groupName.val();
           var msg = confirm( "삭제하시겠습니까?" );

           if (msg === true) {
                $.ajax({
                    url: "/security/groups/" + groupname + "/delete",
                    type: "post",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    data : {
                        'groupname' : groupname,
                    },
                    success: function (e) {
                        if (e.success === true) {
                            $('#myModal').hide();
                            alert('삭제가 완료되었습니다.');
                            $(location).attr('href', '/security/groups/')
                        } else {
                            alert(e.message);
                        }
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
                });
           } else if (msg === false) {
               return;
           }
        });

    </script>
</div>
</body>
</html>