<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">

        <!-- [Groups] start -->
        <div class="row">
            <div class="main_title_top" ><i class="feather icon-chevrons-right"></i> Groups
                <div class="dropdown d_ib f_r">
                        <button class="btn btn-md btn-outline-white" id="btnNew" ><i class="feather icon-file-text"></i> NEW</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(groupList) ? '0' : groupList.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>그룹명</th>
                            <th>사용자</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(groupList)}">
                            <td colspan="3" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(groupList)}" th:each="group : ${groupList}">
                            <td>
                                <a class="table2-link" th:href="'javascript:groupDetail(&quot;'+ ${group?.groupname} + '&quot;)'"
                                   th:utext="${group?.groupname}"></a>
                            </td>
                            <td th:text="${group?.users.size()}"></td>
                            <td th:text="${group?.createTime}"> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Modal] start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
                <div class="modal-content">
                    <div class="modal-title_box">
                        <div class="modal-title">
                            <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="f_r"><button class="btn_save_i feather icon-save" id="btnSave"></button></div>
                            <div class="f_r"><button class="btn_save_i feather icon-trash-2" id="btnDelete"></button></div>
                            <span id="myModalLabel" th:text="|Group : ${group?.groupname}|"></span>
                        </div>
                    </div>
                    <div class="modal-nbody">
                        <div class="table-title">
                            Group
                        </div>
                        <div class="row">
                            <table class="table-nt">
                                <tr>
                                    <th>그룹명</th>
                                    <td id="readGroupname">
                                        <input type="text" id="groupingName" minlength="5" maxlength="40" style="width:100%;"
                                               th:value="${group?.groupname}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>그룹 사용자</th>
                                    <td>
                                        <div class="row" th:unless="${#arrays.isEmpty(group?.users)}" th:each="user : ${group?.users}">
                                            <div th:text="|${user.username} [${user.name}]|"/>
                                        </div>
                                    </td>
                                    </tr>
                                <tr>
                                    <th>최종변경일</th>
                                    <td>
<!--                                        #dates.format(group?.updateTime,'yyyy-MM-dd HH:mm:ss')-->
                                        <div id="updateTime" th:text="${group?.updateTime}"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>설명</th>
                                    <td id="readDescription">
                                        <input type="text" style="width:100%;" maxlength="200" id="description"
                                               th:value="${group?.description}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [Modal] End -->
        <!-- [Groups] End-->
    </div>
    <input type="hidden" id="var-groupname" value=""/>
    <input type="hidden" id="var-description" value=""/>
    <script type="text/javascript" th:inline="javascript">

        var $groupName = $("#var-groupname");
        var $description = $("#var-description");

        var $formGroupname;
        var $formDescription;

        function groupDetail(groupname) {
            $.ajax({
                url: "/security/groups/" + groupname,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                    $('#btnSave').hide();

                    $groupName.val( $('#groupingName').val() );
                    $description.val( $('#description').val() );

                    $formGroupname = $('#readGroupname').html();
                    $formDescription = $('#readDescription').html();

                    $('#readGroupname').html($groupName.val());
                    $('#readDescription').html($description.val());

                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

        // modal reset
        $('#myModal').on('hidden.bs.modal', function (e) {
            $(this).find('table').find('tr').eq(1).html('');
            $(this).find('table').find('tr').eq(2).html('');

            $('#readGroupname').html($formGroupname);
            $('#readDescription').html($formDescription);

            $('#groupingName').val('');
            $('#description').val('');
        });

        // btnNew event
        $(document).ready(function () {
           $('#btnNew').on('click', function () {
                $('#myModal').modal();
                $('#myModalLabel').text('Group');
                $('#btnDelete').hide();
                $('#btnSave').show();
                $('#groupName').attr('text', '');
                $('#groupingName').attr('readonly', false);
                $('#description').attr('readonly', false);

                if($(this).val() !== '1') {
                    $('#myModal').find('table').find('tr').eq(1).html('');
                    $('#myModal').find('table').find('tr').eq(2).html('');
                }

                $(this).val(1);
            });
        });

        // insert event
        $(document).on("click", "#btnSave", function(event){
           let groupname = $("#groupingName").val();
           let description = $("#description").val();

           if (groupname === '') {
               alert( "그룹명을 입력해주세요." );
               $("#groupingName").focus();
               return;
           }

           if (groupname.length < 5) {
               alert( "그룹명은 최소 5자 이상 입력해주세요." );
               $("#groupingName").focus();
               return;
           }

           if (description === '') {
               alert( "설명을 입력해주세요." );
               $("#description").focus();
               return;
           }

           var msg = confirm( "등록하시겠습니까?" );

           if (msg === true) {
               $.ajax({
                    url: "/security/groups/save",
                    data : {
                        'groupname'   : groupname,
                        'description' : description
                    },
                    success: function (data) {
                        alert('등록이 완료되었습니다.');
                        $('#myModal').hide();
                        $(location).attr('href', '/security/groups/')
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
               });
           } else if (msg === false) {
               return;
           }
        });

        // delete event
        $(document).on("click", "#btnDelete", function(event){
           let groupname = $groupName.val();
           var msg = confirm( "삭제하시겠습니까?" );

           if (msg === true) {
                $.ajax({
                    url: "/security/groups/" + groupname + "/delete",
                    data : {
                        'groupname' : groupname,
                    },
                    success: function () {
                        $('#myModal').hide();
                        alert('삭제가 완료되었습니다.');
                        $(location).attr('href', '/security/groups/')
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
                });
           } else if (msg === false) {
               return;
           }
        });

    </script>
</div>
</body>
</html>