<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>보안<i class=&quot;feather icon-chevron-right&quot; ></i>Keys')"/>
    <div id="main_contents">

        <!-- [Groups] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 pr_0" ><i class="feather icon-chevrons-right"></i> Keys</div>
        </div>

        <div class="col-xs-12" style="padding-right:0px;">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span class="point pr_10">3</span>  Page : <span class="point">1</span>/1
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Secret명</th>
                            <th>Key</th>
                            <th>발급일</th>
                            <th>만기일</th>
                            <th>사용자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>prom-secret</td>
                            <td>******************* <i class="feather icon-lock text-warning"></i></td>
                            <td>2020-06-29</td>
                            <td>2020-06-29</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>prom-secret</td>
                            <td>******************* <i class="feather icon-lock text-warning"></i></td>
                            <td>2020-06-29</td>
                            <td>2020-06-29</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>prom-secret</td>
                            <td>******************* <i class="feather icon-lock text-warning"></i></td>
                            <td>2020-06-29</td>
                            <td>2020-06-29</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>prom-secret</td>
                            <td>******************* <i class="feather icon-lock text-warning"></i></td>
                            <td>2020-06-29</td>
                            <td>2020-06-29</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>prom-secret</td>
                            <td>******************* <i class="feather icon-lock text-warning"></i></td>
                            <td>2020-06-29</td>
                            <td>2020-06-29</td>
                            <td>3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center"><!-- 페이지넘버 -->
            <nav>
                <ul class="pagination" >
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- [Groups] End-->
    </div>
</div>
</body>
</html>