<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script>
        (function ($) {

            // Call lnbUI
            $(function () {
                // $('#multi-select-box').multiselect({
                //     buttonClass: 'btn_select2 ',
                // });	//공통, search-area
                $('#modal-multi-select-box').multiselect();
            });

        }(jQuery));
    </script>
    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">
        <!-- [Users] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 pr_0" ><i class="feather icon-chevrons-right"></i> Users
                <div class="dropdown d_ib f_r">
                    <button class="btn btn-md btn-outline-white" id="btnNew" ><i class="feather icon-file-text"></i> NEW</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(userList) ? '0' : userList.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>사용자</th>
                            <th>그룹</th>
                            <th>성명</th>
                            <th>사번</th>
                            <th>부서</th>
                            <th>역할</th>
                            <th>최종 로그인</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(userList)}">
                            <td colspan="8" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(userList)}" th:each="user : ${userList}">
                            <td>
                                <a class="table2-link" th:href="'javascript:userDetail(&quot;'+ ${user?.username} + '&quot;)'"
                                   th:utext="${user?.username}"></a>
                            </td>
                            <td th:text="${user?.kwUserGroup?.groupname}"></td>
                            <td th:text="${user?.name}"></td>
                            <td th:text="${user?.userno}"></td>
                            <td th:text="${user?.dept}"></td>
                            <td th:text="${user?.getUserRole()}"></td>
                            <td th:text="${user?.updateTime}"></td>
                            <td th:text="${user?.createTime}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Modal] start -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
                <form id="form" th:action="@{/security/users/modify}" th:object="${user}" method="POST">
                <div class="modal-content">
                    <div class="modal-title_box">
                        <div class="modal-title">
                            <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="f_r"><button type="button" class="btn_save_i feather icon-save" id="btnModify"></button></div>
                            <div class="f_r"><button type="button" class="btn_save_i feather icon-trash-2" id="btnDelete"></button></div>
                            <span id="myModalLabel" th:text="|User : ${user?.username}|"></span>
                        </div>
                    </div>
                    <div class="modal-nbody">
                        <div class="table-title">
                            Users
                        </div>
                        <div class="row">
                            <table class="table-select">
                                <tr>
                                    <th>ID</th>
                                    <td id="selectUsername">
                                        <input type="text" id="username" style="width:100%;" th:field="*{username}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>성명</th>
                                    <td id="selectName">
                                        <input type="text" id="name" style="width:100%;" th:field="*{name}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>사번</th>
                                    <td id="selectUserno">
                                        <input type="text" id="userno" style="width:100%;" th:field="*{userno}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td>
                                        <input type= "password" id="password" name="password" style="width:100%; font-size: 9pt; background-color: #222222;
                                        border: 1px solid #555555; height: 22px; border-radius: 4px;" th:value="${user?.password}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>부서</th>
                                    <td>
                                        <input type="text" id="dept"  style="width:100%;"
                                               th:field="*{dept}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>그룹</th>
                                    <td colspan="2" >
                                        <div class="dropdown d_ib" >
                                            <select th:disabled="${groups == null ? 'true' : 'false'}"
                                                    class="custom-select" id="groupList" name="groupList">
                                                <option th:each="value : ${groups}"
                                                        th:value="${value?.groupname}" th:text="${value?.groupname}"
                                                        th:selected="${value?.groupname.equals(user?.kwUserGroup?.groupname)}">
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>최종변경일</th>
                                    <td th:text="${user?.updateTime}" colspan="2"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-title">
                            Role
                        </div>
                        <div class="row">
                            <table class="table-select" id="roleTable">
                                <tr id="roleList2">
                                    <th>역할</th>
                                    <th:block th:each= "role : ${roles}">
                                        <td>
                                            <input type="checkbox" name="roleList" id="roleList"
                                                   th:checked="${#lists.contains(userRoles, role)}"
                                                   th:value="${role}"/>
                                            <label th:text="${role}"/>
                                        </td>
                                    </th:block>

                                </tr>
                                <!--                                <tr>-->
                                <!--                                    <th>Cluster Rolebinding</th>-->
                                <!--                                    <td colspan="2">admin/cluster-monitor </td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <th>Token</th>-->
                                <!--                                    <td colspan="2">******************* <a href="#"><i class="feather icon-lock text-warning"></i></a></td>-->
                                <!--                                </tr>-->
                                <!--                                <tr>-->
                                <!--                                    <th>Token 만기일</th>-->
                                <!--                                    <td colspan="2">2020-05-24</td>-->
                                <!--                                </tr>-->
                            </table>
                        </div>

                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- [Modal] End -->
        <!-- [Groups] End-->
    </div>
    <input type="hidden" id="var-userName" value=""/>
    <input type="hidden" id="var-userno" value=""/>
    <input type="hidden" id="var-name" value=""/>
    <input type="hidden" id="var-maskingPW" value=""/>

    <script type="text/javascript" th:inline="javascript">

        let roles = [[${roleList}]],
            groups = [[${groupList}]];

        var $userName = $("#var-userName");

        var $userno = $("#var-userno");
        var $name = $("#var-name");
        var $maskingPW = $("#var-maskingPW");

        var $formUsername;
        var $formName;
        var $formUserno;

        var $formUsername2;
        var $formName2;
        var $formUserno2;

        function userDetail(username) {
            $userName.val(username);
            $.ajax({
                url: "/security/users/" + username,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                    $('#btnInsert').hide();

                    $userno.val( $('#userno').val() );
                    $name.val( $('#name').val() );

                    // modal 조회시 username, name, userno type
                    $formUsername2 = $('#selectUsername').html();
                    $formName2 = $('#selectName').html();
                    $formUserno2 = $('#selectUserno').html();

                    // 기존 html
                    $formUsername = $('#selectUsername').html();
                    $formName = $('#selectName').html();
                    $formUserno = $('#selectUserno').html();

                    $('#selectUsername').html($userName.val());
                    $('#selectName').html($name.val());
                    $('#selectUserno').html($userno.val());

                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

        // modal reset
        $('#myModal').on('hidden.bs.modal', function (e) {
            $(this).find('table').find('tr').eq(6).html('');

            $('#selectUsername').html($formUsername2);
            $('#selectName').html($formName2);
            $('#selectUserno').html($formUserno2);
            $('#selectUsername').val('');
            $('#selectName').val('');
            $('#selectUserno').val('');

            $('#username').val('');
            $('#name').val('');
            $('#userno').val('');

            $('#password').val('');
            $('#dept').val('');
        });

        // btnNew event
        $(document).ready(function () {
           $('#btnNew').on('click', function () {
                $('#myModal').modal();
                $('#myModalLabel').text('User');
                $('#btnModify').attr('id', 'btnInsert');
                $('#btnDelete').hide();
                $('#myModal').find('table').find('tr').eq(2).val('');
                $('#myModal').find('table').find('tr').eq(2).val('');
                $('#myModal').find('table').find('tr').eq(6).html('');

                if (groups !== '') {
                    $("#groupList").attr('disabled', false);
                } else {
                    $("#groupList").attr('disabled', true);
                }

                $("#groupList").empty();
                for ( var i = 0; i < groups.length; i++) {
                    var html = $("<option>" + groups[i].groupname + "</option>");
                    $("#groupList").append(html);
                }

                $("#roleList2").empty();

                var html = "<th>역할</th>";
                for( var j = 0; j < roles.length; j++) {
                     html += "<td>";
                     html += '  <input type="checkbox" name="roleList" id="roleList" value="' + roles[j] + '" />';
                     html += '  <label>' + roles[j] + '</label>';
                     html += "</td>";
                }
                $("#roleList2").append(html);

            });
        });

        // btnModify event
        $(document).on("click", "#btnModify", function(event){
            var chkRole = $("input:checkbox[id='roleList']:checked").length;

            if (chkRole === 0) {
                var html = '  <input type="hidden" name="roleList" id="roleList" value="" />';
                $("#form").append(html);
            }

        var hdnHtml = '   <input type="hidden" name="username" id="username" value="' + $userName.val() + '" />';
            hdnHtml += '  <input type="hidden" name="name"     id="name"     value="' + $name.val() + '" />';
            hdnHtml += '  <input type="hidden" name="userno"   id="userno"   value="' + $userno.val() + '" />';

            $("#form").append(hdnHtml);

            var data = $('#form').serialize();

            $.ajax({
                type : "post",
                data : data,
                url : "/security/users/modify",
                success : function(){
                  alert('수정이 완료되었습니다.');
                  $('#myModal').hide();
                  $(location).attr('href', '/security/users');
                },
                error: function (e) {
                    if (e.status === 401) {
                         $(location).attr('href', '/login?logout')
                    }
                }
            });
        });

        // btnDelete event
        $(document).on("click", "#btnDelete", function(event){
            $('#form').attr("action", "/security/users/delete");
            var data = $('#form').serialize();
            $.ajax({
                type : "post",
                data : data,
                url : "/security/users/delete",
                success : function(){
                  alert('삭제가 완료되었습니다.');
                  $('#myModal').hide();
                  $(location).attr('href', '/security/users')
                    },
                error: function (e) {
                    if (e.status === 401) {
                         $(location).attr('href', '/login?logout')
                    }
                }
            });
        });

        // btnInsert event
        $(document).on("click", "#btnInsert", function(event){
            $('#form').attr("action", "/security/users/save");

            if ($('#username').val() === '') {
                alert('사용자 ID를 입력해주세요.');
                $('#username').focus();
                return;
            }

            if ($('#name').val() === '') {
                alert('성명을 입력해주세요.');
                $('#name').focus();
                return;
            }

            if ($('#userno').val() === '') {
                alert('사번을 입력해주세요.');
                $('#userno').focus();
                return;
            }

            if ($('#password').val() === '') {
                alert('비밀번호를 입력해주세요.');
                $('#password').focus();
                return;
            }

            if ($('#dept').val() === '') {
                alert('부서를 입력해주세요.');
                $('#dept').focus();
                return;
            }

            var chkRole = $("input:checkbox[id='roleList']:checked").length;

            if (chkRole === 0) {
                var html = '  <input type="hidden" name="roleList" id="roleList" value="" />';
                $("#form").append(html);
            }

            var data = $('#form').serialize();

            $.ajax({
                type : "post",
                data : data,
                url : "/security/users/save",
                success : function(){
                  alert('등록이 완료되었습니다.');
                  $('#myModal').hide();
                  $(location).attr('href', '/security/users')
                }
            });
        });
    </script>
</div>
</body>
</html>
