<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">
        <!-- [Roles] start -->
        <div class="row">
            <div class="main_title_top"><i class="feather icon-chevrons-right"></i> Roles
                <div class="dropdown d_ib f_r">
                    <a  href="" data-toggle="modal" data-target="#myModal"><button class="btn btn-md btn-outline-white"><i class="feather icon-file-text"></i> NEW</button></a>
                    <!-- [Modal] start -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                        <div class="modal-dialog modal-lg" style="width:765px;">
                            <div class="modal-content">
                                <div class="modal-title_box">
                                    <div class="modal-title">
                                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <span id="myModalLabel">Roles : Roles 명</span>
                                    </div>
                                </div>
                                <div class="modal-nbody">
                                    <div class="table-title">
                                        Overview
                                    </div>
                                    <div class="row">
                                        <table class="table-nt">
                                            <tr>
                                                <th>Role</th>
                                                <td>Operator</td>
                                            </tr>
                                            <tr>
                                                <th>Description</th>
                                                <td>보험코어 하이브리드 클라우드 통합관리 시스템의 Dashboard 운영 역할. 통합 Dashboard 및 Grafana 솔루션 실행 담당</td>
                                            </tr>
                                            <tr>
                                                <th>Role binding user</th>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <th>최종변경일</th>
                                                <td>24일 15시 32분 (2020-05-24 15:32:08)</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row text-center pt_15"><button class="btn btn-save">저 장</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [Modal] End -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Rule : <span th:text="${#arrays.isEmpty(pageRuleList) ? '0' : pageRuleList.size()-1}" class="point pr_10"></span>
                </div>
                <table class="box_table-body">
                    <td th:unless="${#arrays.isEmpty(pageRuleList)}" th:each="map : ${pageRuleList}">
                        <table class="role_table">
                            <thead>
                            <tr th:if="${mapStat.index == 0}">
                                <th>Page ID</th>
                                <th>화면명</th>
                            </tr>
                            <tr th:unless="${mapStat.index == 0}">
                                <th th:text="${ruleList[mapStat.index-1]?.rulename}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${mapStat.index == 0}" th:each="screen : ${map}">
                                <td th:text="${screen?.key}"></td>
                                <td th:text="${screen?.value}"></td>
                            </tr>
                            <tr th:unless="${mapStat.index == 0}" th:each="screen : ${map}">
                                <td>
                                    <input type="checkbox" th:checked="${screen?.value.equals('1') ? true : false}"
                                           th:value="${screen?.value}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </table>
            </div>
        </div>
        <div class="text-center">
            <div class="row text-center pt_15"><button class="btn btn-save">저 장</button></div>
        </div>
        <!-- [Roles] End-->
    </div>

</div>
</body>
</html>