<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">

        <!-- [Alarm 설정 목록] start -->
        <div class="row">
            <div class="main_title_top" ><i class="feather icon-chevrons-right"></i> <span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}"
                                class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}"
                                    th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}"
                                    th:value="${value?.name}" th:text="${value?.name}">value</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(serviceAccounts) ? '0' : serviceAccounts.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(serviceAccounts)}">
                            <td colspan="4" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(serviceAccounts)}" th:each="serviceAccount : ${serviceAccounts}">
                            <td>
                                <a class="table2-link" th:href="'javascript:serviceAccountDetail(&quot;' + ${serviceAccount?.namespace} + '&quot;, &quot;'+ ${serviceAccount?.name} + '&quot;)'"
                                   th:utext="${serviceAccount?.name}">Name</a>
                            </td>
                            <td th:text="${serviceAccount?.namespace}">kube-public</td>
                            <td th:text="${serviceAccount?.age}">2020-06-29 14:21:05</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!--        <div class="text-center">&lt;!&ndash; 페이지넘버 &ndash;&gt;-->
<!--            <nav>-->
<!--                <ul class="pagination" >-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="active"><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
        <!-- [Alarm 설정 목록] End-->
    </div>

    <!-- [Modal] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px table-layout:fixed;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Service Account : ${serviceAccount?.name}|">Service accounts : SA 명</span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">
                        Metadata
                    </div>
                    <div class="row">
                        <table class="table-nt">
                            <tr>
                                <th>Created</th>
                                <td th:text="${#dates.format(serviceAccount?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td th:text="${serviceAccount?.name}">default</td>
                            </tr>
                            <tr>
                                <th>Namespace</th>
                                <td th:text="${serviceAccount?.namespace}">kube-public</td>
                            </tr>
                            <tr>
                                <th>Labels</th>
                                <td>
                                    <div class="row" th:if="${serviceAccount?.labels}" th:each="entry : ${serviceAccount?.labels}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${serviceAccount?.labels}">-</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-title">
                        Secret
                    </div>
                    <div class="row">
                        <table class="table-nt" style="table-layout:fixed" >
                            <div th:each="secret : ${serviceAccount?.secrets}">
                                <tr>
                                    <th>Created</th>
                                    <td th:text="${#dates.format(secret?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td th:text ="${secret.name}">istio-service-account-token-jxkss</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td th:text ="${secret.type}">Kubernetes.io/service-account-token</td>
                                </tr>
                                <tr>
                                    <th>Values</th>
                                    <td>
                                        <div>
                                            <div class="scrollBoard" style="height:142px">
                                            <div class="pre-title" style="padding:0px 0px 0px 0px" th:each="codeId : ${secret?.data}">
                                                <input th:id="|modal-answer-${codeId?.key}|"
                                                       type="checkbox" name="accordion" id="modal-answer">
                                                <label th:for="|modal-answer-${codeId?.key}|" for="modal-answer" style="height : 40px">
                                                    <span style="color:#bebebe" th:text="${codeId?.key}">kube-state-metrics</span><em></em>
                                                </label>
                                                <div class="row">
                                                    <pre style="color:gray"> <code id ="code-area" th:text="${codeId.value}"> </code></pre>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                    <div class="table-title">
                        Events
                    </div>
                    <div class="row">
                        <table class="list_mtable_100">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Source</th>
                                <th>Count</th>
                                <th>Sub-Object</th>
                                <th>Last</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${#arrays.isEmpty(serviceAccount?.events)}">
                                <td colspan="5" class="text-center">No events</td>
                            </tr>
                            <tr th:if="${serviceAccount?.events}" th:each="event : ${serviceAccount?.events}">
                                <td th:text="${event?.type}">Event Message</td>
                                <td th:text="${event?.source}">///</td>
                                <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}">00</td>
                                <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Object-name</td>
                                <td th:text="${event?.lastSeen}">2020-05-22 12:41:05</td>
                            </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [Modal] End -->

    <script type="text/javascript" th:inline="javascript">

        var $contentList = $("#contentList"),
            linkUrl= [[${link}]];

        function serviceAccountDetail(namespace, name) {
            $.ajax({
                url: "/cluster/acl/service-accounts/namespace/" + namespace + "/service-account/" + name,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

        $(document).ready(function () {
            $("#namespace").on("change", function () {
                const $namespace = $(this);
                const selectedNamespace = $namespace.val();
                let url = linkUrl.replace(new RegExp('{namespace}', 'g'), selectedNamespace);
                console.log("url=", url);
                $.ajax({
                    url: url,
                    success: function (data) {
                        $contentList.text("");
                        $contentList.html(data);
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
                });
            });
        });
    </script>

</div>
</body>
</html>