<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>header</title>
</head>
<body>
    <th:block th:fragment="header(navTitle)">
        <form id="sign-out-form" th:action="@{/logout}" method="post">
            <nav class="navbar navbar-expand  bg-white topbar mb-4 shadow">
                <div class="map d-lg-block">
                    <span id="headerText" th:utext="${navTitle}" style="float:left;"></span>
                    <div id="btnTv" style="float:left; margin: 0px 15px; display:none;">
                        <ul class="nav nav-pills">
                            <li id="fullScreen" class="box_theme theme_img" style="width: 80px;">
                                <a href="javascript:screen()" style="padding: 0px 10px; font-size:12px; font-weight: bold;">
                                    <img id="tvIcon" th:src="@{/assets/img/tv_dark.png}" class="img-responsive" alt="" style="width:40%; padding: 1px 0px;">&nbsp;TV
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="dropdown-toggle user_info" style="cursor:pointer;" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span sec:authorize="isAuthenticated()" sec:authentication="principal.username" class="pl-10px v_t">User</span>
                            <span sec:authorize="!isAuthenticated()" class="pl-10px v_t">Unknown</span>
                            <i class="feather icon-chevron-down"></i>
                            <img th:src="@{/assets/img/user.png}" alt="" style="width:24px;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="width:120px;">
                            <!--
                            <a class="dropdown-item" href="#"><i class="feather icon-chevrons-right"></i>&nbsp;Settings</a>
                            <a class="dropdown-item" href="#"><i class="feather icon-chevrons-right"></i>&nbsp;Activity Log</a>
                            <div class="dropdown-divider"></div>
                            -->
                            <a id="sign-out" class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">
                                <i class="feather icon-chevrons-right"></i>&nbsp;Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </form>
    </th:block>
</body>
</html>