<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>


    <body>
        <th:block th:fragment="header(navTitle)">
            <form id="sign-out-form" th:action="@{/logout}" method="post">
                <nav class="navbar navbar-expand  bg-white topbar mb-4 shadow">

                    <!-- Sidebar Toggle (Topbar) -->

                    <div class="map d-lg-block">
                        <span id="headerText" th:utext="${navTitle}" style="float:left;"></span>
                        <div id="btnTv" style="float:left; margin: 0px 15px; display:none;">
                            <ul class="nav nav-pills">
                                <li id="fullScreen" class="box_theme theme_img" style="width: 80px;">
                                    <a href="javascript:screen()" style="padding: 0px 10px; font-size:12px; font-weight: bold;">
                                        <img id="tvIcon" th:src="@{/assets/img/tv.png}" class="img-responsive" alt=""
                                             style="width:40%; padding: 1px 0px;"> TV
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- [Dropdown - Alerts] start -->
<!--                        <div style="margin: 9px 0 0 10px;">-->
<!--                            <a class="btn_alram noti-icon" href="http://localhost:8080/main#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                <i class="feather icon-bell"></i>-->
<!--                                <span class="badge badge-danger badge-pill">3</span>-->
<!--                            </a>-->
<!--                            &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
<!--                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in" aria-labelledby="alertsDropdown" style="width:200px;">-->
<!--                                <h6 class="dropdown-header">-->
<!--                                    Alerts Center-->
<!--                                </h6>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="http://localhost:8080/main#">-->
<!--                                    <div>-->
<!--                                        <div class="small text-gray-500">December 12, 2019</div>-->
<!--                                        A new monthly report is...-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="http://localhost:8080/main#">-->
<!--                                    <div>-->
<!--                                        <div class="small text-gray-500">December 2, 2019</div>-->
<!--                                        Spending Alert: We've...-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item text-center small text-gray-500" href="http://localhost:8080/main#">Show All Alerts</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- [Dropdown - Alerts] end -->

                        <!-- [User Information] start -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="dropdown-toggle user_info" href="http://localhost:8080/main#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span sec:authorize="isAuthenticated()"
                                      sec:authentication="principal.username"
                                      class="pl-10px v_t">User</span>
                                <span sec:authorize="!isAuthenticated()"
                                      class="pl-10px v_t">Unknown</span>
                                <i class="feather icon-chevron-down"></i>
                                <img th:src="@{/assets/img/user.png}" alt="" style="width:24px;">
                                <!-- <i class="fas fa-user-circle user_info_i user_info_i_b"></i> -->
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="width:120px;">
                                <a class="dropdown-item" href="#">
                                    <i class="feather icon-chevrons-right"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="feather icon-chevrons-right"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a id="sign-out" class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="feather icon-chevrons-right"></i> Logout
                                </a>
                            </div>
                        </li>
                        <!-- [User Information] end -->
                    </ul>
                </nav>
            </form>
        </th:block>
    </body>
</html>