<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <th:block th:fragment="menu">
            <!-- [Left Sidebar] Start -->
            <!--<div class="lef-nav bg-gradient-hanwha" style="display:none;">-->
<!--            style="visibility:hidden;"-->
            <div class="lef-nav bg-gradient-hanwha">
                <div class="row d-flex lef-sidebar-brand" >
                    <div class="logo-img ">
                        <img src="" alt="">
                    </div>
                    <div class="lef-sidebar-brand-text">한화생명<br>통합관리시스템</div>
                </div>
                <div id="lnb">
                    <ul>
                        <li class="heading lef-sidebar-brand-sub-text">
                            <div class="row">
                                <div th:text="${@environment.getProperty('application.properties.monitoring.default-cluster-name')}"
                                    class="col-lg-12 h5 font-weight-bold text-light text-uppercase">
                                    cluster
                                </div>
                                <div class="col-lg-12">
                                    <div class="circle c_normal"></div>
                                    <span>Connected</span>
                                </div>
                            </div>
                        </li>
                        <li th:classappend="${T(org.apache.commons.lang3.StringUtils)
                                .containsAny(#httpServletRequest.requestURI,
                                '/main',
                                '/monitoring/application/overview',
                                '/monitoring/cluster/overview',
                                '/monitoring/vm/overview',
                                '/monitoring/vm/monitoring',
                                '/monitoring/jvm/overview',
                                '/monitoring/jvm/application',
                                '/monitoring/database'
                                ) ? 'on open' : ''}">
                            <a href="#none" role="button">
                                <i class="feather icon-bar-chart-2"></i> <span class="lef-sidebar-brand-sub-text">Dashboard</span>
                            </a>
                            <ul>
                                <li><a th:href="@{/main}">Overview</a></li>
                                <li><a th:href="@{/monitoring/application/overview}">Application</a></li>
                                <li><a th:href="@{/monitoring/cluster/overview}">K8s Detail</a></li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownNode">Cluster Node</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownNode">
                                        <li><a th:href="@{/monitoring/vm/overview}">Overview</a></li>
                                        <li><a th:href="@{/monitoring/vm/monitoring}">Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownJvm">Pod JVM</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownJvm">
                                        <li><a th:href="@{/monitoring/jvm/overview}">Overview</a></li>
                                        <li><a th:href="@{/monitoring/jvm/application}">Detail</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/monitoring/database}">Database</a></li>
                            </ul>
                        </li>
                        <li th:classappend="${T(org.apache.commons.lang3.StringUtils)
                                .containsAny(#httpServletRequest.requestURI,
                                '/monitoring/cluster/nodes',
                                '/monitoring/cluster/workloads/overview',
                                '/monitoring/cluster/workloads/pods',
                                '/monitoring/cluster/workloads/deployments',
                                '/monitoring/cluster/workloads/statefulsets',
                                '/monitoring/cluster/workloads/daemonsets',
                                '/monitoring/cluster/workloads/jobs',
                                '/monitoring/cluster/workloads/cronjobs',
                                '/monitoring/cluster/storages',
                                '/cluster/config/configmaps',
                                '/cluster/config/resource-quotas',
                                '/cluster/config/hpa',
                                '/cluster/config/namespaces',
                                '/cluster/config/custom-resources',
                                '/cluster/network/services',
                                '/cluster/network/ingress',
                                '/cluster/network/endpoints',
                                '/cluster/network/policies',
                                '/cluster/acl/service-accounts',
                                '/cluster/acl/role-bindings',
                                '/cluster/acl/roles',
                                '/cluster/config/secrets',
                                '/cluster/acl/pod-security-policies',
                                '/monitoring/cluster/events'
                                ) ? 'on open' : ''}">
                            <a href="#none" role="button">
                                <i class="feather icon-box"></i> <span class="lef-sidebar-brand-sub-text">K8s Cluster</span>
                            </a>
                            <ul>
                                <li><a th:href="@{/monitoring/cluster/nodes}">Nodes</a></li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownWorkload">Workloads</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownWorkload">
                                        <li><a th:href="@{/monitoring/cluster/workloads/overview}">Overview</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/pods}">Pods</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/deployments}">Deployments</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/statefulsets}">StatefulSets</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/daemonsets}">DaemonSets</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/jobs}">Jobs</a></li>
                                        <li><a th:href="@{/monitoring/cluster/workloads/cronjobs}">CronJobs</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/monitoring/cluster/storages}">Storages</a></li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownConfig">Configuration</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownConfig">
                                        <li><a th:href="@{/cluster/config/configmaps}">Configmaps</a></li>
                                        <li><a th:href="@{/cluster/config/resource-quotas}">Resource Quotas</a></li>
                                        <li><a th:href="@{/cluster/config/hpa}">HPA</a></li>
                                        <li><a th:href="@{/cluster/config/namespaces}">Namespaces</a></li>
                                        <li><a th:href="@{/cluster/config/custom-resources}">Custom Resources</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownNetwork">Network</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownNetwork">
                                        <li><a th:href="@{/cluster/network/services}">Services</a></li>
                                        <li><a th:href="@{/cluster/network/ingress}">Ingresses</a></li>
                                        <li><a th:href="@{/cluster/network/endpoints}">Endpoints</a></li>
                                        <li><a th:href="@{/cluster/network/policies}">Network Policies</a></li>
                                    </ul>
                                </li>
                                <li class="dropright">
                                    <a href="#none" role="button" data-toggle="side-dropdown" id="dropdownAccess">Access Control</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownAccess">
                                        <li><a th:href="@{/cluster/acl/service-accounts}">Service Accounts</a></li>
                                        <li><a th:href="@{/cluster/acl/role-bindings}">Role Bindings</a></li>
                                        <li><a th:href="@{/cluster/acl/roles}">Roles</a></li>
                                        <li><a th:href="@{/cluster/config/secrets}">Secrets</a></li>
                                        <li><a th:href="@{/cluster/acl/pod-security-policies}">Pod Security Policies</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/monitoring/cluster/events}">Events</a></li>
                            </ul>
                        </li>
                        <li th:classappend="${T(org.apache.commons.lang3.StringUtils)
                                .containsAny(#httpServletRequest.requestURI,
                                '/monitoring/alarm/list',
                                '/setting/alarm/list'
                                ) ? 'on open' : ''}">
                            <a href="#none" role="button">
                                <i class="feather icon-bell"></i> <span class="lef-sidebar-brand-sub-text">Alarm</span>
                            </a>
                            <ul>
                                <li><a th:href="@{/monitoring/alarm/list}">List</a></li>
                                <li><a th:href="@{/setting/alarm/list}">Config</a></li>
                            </ul>
                        </li>
                        <li th:classappend="${T(org.apache.commons.lang3.StringUtils)
                                .containsAny(#httpServletRequest.requestURI,
                                '/security/groups',
                                '/security/users',
                                '/security/roles/user-role-management'
                                ) ? 'on open' : ''}">
                            <a href="#none" role="button">
                                <i class="feather icon-user"></i> <span class="lef-sidebar-brand-sub-text">Users</span>
                            </a>
                            <ul>
                                <li><a th:href="@{/security/groups}">Groups</a></li>
                                <li><a th:href="@{/security/users}">Users</a></li>
                                <li><a th:href="@{/security/roles/user-role-management}">Roles</a></li>
                            </ul>
                        </li>
                        <li class="off" th:class="${T(org.apache.commons.lang3.StringUtils)
                                .containsIgnoreCase(#httpServletRequest.requestURI,
                                '/application/usage/usage-overview'
                                ) ? 'noDepth on' : ''}">
                            <a th:href="@{/application/usage/usage-overview}"><i class="feather icon-pie-chart"></i> <span class="lef-sidebar-brand-sub-text">Cluster Usage</span></a>
                        </li>
                        <li class="off" th:class="${T(org.apache.commons.lang3.StringUtils)
                                .containsIgnoreCase(#httpServletRequest.requestURI,
                                '/setting/preference'
                                ) ? 'noDepth on' : ''}">
                            <a th:href="@{/setting/preference}"><i class="feather icon-settings"></i> <span class="lef-sidebar-brand-sub-text">Preference</span></a>
                        </li>
                    </ul>
                </div>
                <div class="text-center d-none d-md-inline">
                    <button id="sidebarToggle" class="rounded-circle_l border-0"><i class="feather icon-chevrons-left"></i></button>
                </div>

            </div>
            <!-- [Left Sidebar] End -->
        </th:block>
    </body>
</html>