<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>K8s Cluster<i class=&quot;feather icon-chevron-right&quot; ></i>Workloads<i class=&quot;feather icon-chevron-right&quot; ></i>CronJobs')"/>
    <div id="main_contents">

        <!-- [클러스터 Cron Jobs] start -->
        <div class="row">
            <div class="main_title_top"><i class="feather icon-chevrons-right"></i> 클러스터 CronJobs
<!--                <div class="f_r">-->
<!--                    <div class=" d_ib">-->
<!--                        <div class="form-group has-feedback d_ib">-->
<!--                            <input type="text" placeholder="Search" class="search_table">-->
<!--                            <i class="feather icon-search form-control-feedback search_topbar_i" ></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="dropdown d_ib">-->
<!--                        <select id="multi-select-box">-->
<!--                            <option value="통합관리환경 admin">통합관리환경 admin</option>-->
<!--                            <option value="보험코어 monitor">보험코어 monitor</option>-->
<!--                            <option value="Cluster monitor">Cluster monitor</option>-->
<!--                            <option value="Cluster log viewer">Cluster log viewer</option>-->
<!--                            <option value="On-premise monitor">On-premise monitor</option>-->
<!--                            <option value="Cluster admin">Cluster admin</option>-->
<!--                            <option value="Dashboard operator">Dashboard operator</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(cronJobs) ? '0' : cronJobs.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Schedule</th>
                            <th>Suspend</th>
                            <th>Active</th>
                            <th>Last Schedule</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(cronJobs)}">
                            <td colspan="7" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(cronJobs)}" th:each="cronJob : ${cronJobs}">
                            <td>
                                <a class="table2-link" th:href="'javascript:cronJobDetail(&quot;' + ${cronJob?.namespace} + '&quot;, &quot;'+ ${cronJob?.name} + '&quot;)'"
                                   th:utext="${cronJob?.name}">Name</a>
                            </td>
                            <td th:text="${cronJob?.namespace}">Namespace</td>
                            <td th:text="${cronJob?.schedule}">Schedule</td>
                            <td th:text="${cronJob?.suspend}">Suspend</td>
                            <td th:text="${cronJob?.active}">Active</td>
                            <td th:text="${#dates.format(cronJob?.lastSchedule,'yyyy-MM-dd HH:mm:ss')}">Last Schedule</td>
                            <td th:text="${cronJob?.age}">Age</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<!--        <div class="text-center">&lt;!&ndash; 페이지넘버 &ndash;&gt;-->
<!--            <nav>-->
<!--                <ul class="pagination" >-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="active"><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
        <!-- [클러스터 Cron Jobs] End-->
    </div>
    <!-- [Modal] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Cron Job : ${cronJob?.name}|" >Jobs : Jobs 명</span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">
                        Metadata
                    </div>
                    <div class="row">
                        <table class="table-nt">
                            <tr>
                                <th>Created</th>
                                <td th:text="${#dates.format(cronJob?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td th:text="${cronJob?.name}">heartbeat</td>
                            </tr>
                            <tr>
                                <th>Namespace</th>
                                <td th:text="${cronJob?.namespace}">default</td>
                            </tr>
                            <tr>
                                <th>Labels</th>
                                <td>
                                    <div class="row" th:if="${cronJob?.labels}" th:each="entry : ${cronJob?.labels}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${cronJob?.labels}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Annotations</th>
                                <td>
                                    <div class="row" th:if="${cronJob?.annotations}" th:each="entry : ${cronJob?.annotations}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${cronJob?.annotations}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Schedule</th>
                                <td th:text="${#strings.isEmpty(cronJob?.schedule) ? '-' : cronJob?.schedule}">25 8****</td>
                            </tr>
                            <tr>
                                <th>Active</th>
                                <td th:text="${cronJob?.active}">0</td>
                            </tr>
                            <tr>
                                <th>Suspend</th>
                                <td th:text="${cronJob?.suspend}">false</td>
                            </tr>
                            <tr>
                                <th>Last Schedule</th>
                                <td th:text="${#dates.format(cronJob?.lastSchedule,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(cronJob?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${cronJob?.events}" th:each="event : ${cronJob?.events}">
                            <td th:text="${event?.type}">Event Message</td>
                            <td th:text="${event?.source}">///</td>
                            <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}">00</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${event?.lastSeen}">Last</td>
                        </tr>
                        <tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- [Modal] End -->
    <script type="text/javascript" th:inline="javascript">
        function cronJobDetail(namespace, name) {
            $.ajax({
                url: "/monitoring/cluster/workloads/namespace/" + namespace + "/cronjobs/" + name,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }
    </script>

</div>
</body>
</html>