<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}" class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}" th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}" th:value="${value?.name}" th:text="${value?.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(deployments) ? '0' : deployments.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Pods</th>
                                <th>Replicas</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(deployments)}">
                                <td colspan="5" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(deployments)}" th:each="deployment : ${deployments}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer; text-decoration: underline;" th:attr="data-namespace=${deployment?.namespace}, data-name=${deployment?.name}" th:utext="${deployment?.name}"></a>
                                </td>
                                <td th:text="${deployment?.namespace}"></td>
                                <td th:text="${deployment?.ready}"></td>
                                <td th:text="${deployment?.upToDate}"></td>
                                <td th:text="${deployment?.age}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Deployment : ${deployment?.name}|"></span>
                    </div>
                </div>

                <div class="modal-nbody row_scroll">
                    <div class="table-title">Metrics</div>
                    <div class="row" th:each="panelRow : ${page?.rows}">
                        <div th:each="panel : ${panelRow?.pageRowPanels}" class="col-md-12 col-lg-4">
                            <div class="box_panel">
                                <div class="box_panel-heading" th:text="${panel?.title}"></div>
                                <div th:id="|container-${panel?.panelId}|" style="min-height: 160px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-title">Metadata</div>
                        <table class="table-nt">
                            <tr>
                                <th>Created</th>
                                <td th:text="${#dates.format(deployment?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td th:text="${deployment?.name}"></td>
                            </tr>
                            <tr>
                                <th>Namespace</th>
                                <td th:text="${deployment?.namespace}"></td>
                            </tr>
                            <tr>
                                <th>Annotations</th>
                                <td>
                                    <div class="row" th:if="${deployment?.annotations}" th:each="entry : ${deployment?.annotations}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${deployment?.annotations}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Replicas</th>
                                <td th:text="${deployment?.replicas}"></td>
                            </tr>
                            <tr>
                                <th>Selector</th>
                                <td>
                                    <div class="row" th:each="item : ${deployment?.selector}" >
                                        <span class="madal_label" th:text="|${item.key} : ${item.value}|"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Strategy Type</th>
                                <td th:text="${deployment?.strategy}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-title">Conditions</div>
                    <table class="list_mtable_100_no">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Reason</th>
                                <th>LastTime</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(deployment?.conditions)}">
                                <td colspan="4" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(deployment?.conditions)}" th:each="condition : ${deployment?.conditions}">
                                <td th:text="${condition?.type}"></td>
                                <td th:text="${condition?.reason}"></td>
                                <td th:text="${#dates.format(condition?.lastUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${condition?.message}"></td>
                            </tr>
                        <tbody>
                    </table>

                    <!--
                    <div class="table-title">Deploy Revisions</div>
                    <table class="list_mtable_100_no">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Pods</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(deployments)}">
                                <td colspan="4" class="text-center">No results</td>
                            </tr>
                        <tbody>
                    </table>
                    -->

                    <div class="table-title">Pods</div>
                    <table class="list_mtable_100_no">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>CPU</th>
                                <th>Memory</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(deployment?.pods)}">
                                <td colspan="5" class="text-center">No pods</td>
                            </tr>
                            <tr th:if="${deployment?.pods}" th:each="pod : ${deployment?.pods}">
                                <td th:text="${pod?.name}"></td>
                                <td th:text="${pod?.namespace}"></td>
                                <td th:text="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).toStringQuantity(pod?.cpu)}"></td>
                                <td th:text="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).toStringQuantity(pod?.memory)}"></td>
                                <td th:switch="${pod?.status}">
                                    <span th:case="Running" class="madal_label_active" th:text="${pod?.status}"></span>
                                    <span th:case="Completed" class="madal_label_active" th:text="${pod?.status}"></span>
                                    <span th:case="Pending" class="madal_label_warning" th:text="${pod?.status}"></span>
                                    <span th:case="Succeeded" class="madal_label_active" th:text="${pod?.status}"></span>
                                    <span th:case="Failed" class="madal_label_danger" th:text="${pod?.status}"></span>
                                    <span th:case="Unknown" class="madal_label" th:text="${pod?.status}"></span>
                                    <span th:case="*" class="madal_label" th:text="${pod?.status}"></span>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                    <div class="table-title">Events</div>
                    <table class="list_mtable_100">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Source</th>
                                <th>Count</th>
                                <th>Sub-Object</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(deployment?.events)}">
                                <td colspan="5" class="text-center">No events</td>
                            </tr>
                            <tr th:if="${deployment?.events}" th:each="event : ${deployment?.events}">
                                <td th:text="${event?.name}"></td>
                                <td th:text="${event?.source}"></td>
                                <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}"></td>
                                <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}"></td>
                                <td th:text="${event?.lastSeen}"></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/common-charts.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>

    <input type="hidden" id="var-name" value="" />
    <input type="hidden" id="var-namespace" value="" />

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let apiHost;

        const linkUrl= [[${link}]];
        const pathPrefix = '/api/v1/monitoring/cluster/workloads/namespace/';
        /*]]>*/

        $(document).ready(function() {
            $(document).on('change', '#namespace', function() {
                kube.reloadList(linkUrl.replace('{namespace}', $.trim($(this).val())));
            });

            $(document).on('click', 'a.table2-link', function() {
                const n = $(this).data('name'), ns = $(this).data('namespace');
                const path = pathPrefix + ns + '/deployments/' + n + '/metrics';

                $('#var-name').val(n);
                $('#var-namespace').val(ns);

                kube.execute(path, function(data) {
                    apiHost = data.host;

                    data.page.rows.forEach(r => r['pageRowPanels'].forEach(p => {
                        commonChartsJs.removeChart(p);
                        commonChartsJs.createPanel(p);
                    }));

                    $('#myModal').text('').html(data['describe']).modal();
                    $('.knob').knob();
                });
            });
        });
    </script>
</div>
</body>
</html>