<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}" class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}" th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}" th:value="${value?.name}" th:text="${value?.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(jobs) ? '0' : jobs.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Completions</th>
                                <th>Age</th>
                                <th>Conditions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(jobs)}">
                                <td colspan="5" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(jobs)}" th:each="job : ${jobs}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer;" th:attr="data-namespace=${job?.namespace}, data-name=${job?.name}" th:utext="${job?.name}"></a>
                                </td>
                                <td th:text="${job?.namespace}"></td>
                                <td th:text="${job?.completions}"></td>
                                <td th:text="${job?.age}"></td>
                                <td th:switch="${job?.statusCondition}">
                                    <span th:case="Complete" class="madal_label_active" th:text="${job?.statusCondition}"></span>
                                    <span th:case="Running" class="madal_label_warning" th:text="${job?.statusCondition}"></span>
                                    <span th:case="Pending" class="madal_label_warning" th:text="${job?.statusCondition}"></span>
                                    <span th:case="Succeeded" class="madal_label_active" th:text="${job?.statusCondition}"></span>
                                    <span th:case="Failed" class="madal_label_danger" th:text="${job?.statusCondition}"></span>
                                    <span th:case="Unknown" class="madal_label" th:text="${job?.statusCondition}"></span>
                                    <span th:case="*" class="madal_label" th:text="${job?.statusCondition}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Job : ${job?.name}|"></span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">Metadata</div>
                    <div class="row">
                        <table class="table-nt">
                            <tr>
                                <th>Created</th>
                                <td th:text="${#dates.format(job?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td th:text="${job?.name}"></td>
                            </tr>
                            <tr>
                                <th>Namespace</th>
                                <td th:text="${job?.namespace}"></td>
                            </tr>
                            <tr>
                                <th>Selector</th>
                                <td>
                                    <div class="row" th:each="item : ${job?.selector}">
                                        <span class="madal_label" th:text="|${item.key} : ${item.value}|"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Labels</th>
                                <td>
                                    <div class="row" th:if="${job?.labels}" th:each="entry : ${job?.labels}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${job?.labels}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Annotations</th>
                                <td>
                                    <div class="row" th:if="${job?.annotations}" th:each="entry : ${job?.annotations}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${job?.annotations}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Parallelism</th>
                                <td th:text="${job?.parallelism}"></td>
                            </tr>
                            <tr>
                                <th>Completions</th>
                                <td th:text="${job?.completions}"></td>
                            </tr>
                            <tr>
                                <th>Start Time</th>
                                <td th:text="${#dates.format(job?.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th>Completed At</th>
                                <td th:text="${#strings.isEmpty(job?.completionTime) ? '-' : #dates.format(job?.completionTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th>Duration</th>
                                <td th:text="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).getFormatDuration(job?.duration)}"></td>
                            </tr>
                            <tr>
                                <th>Pod Status</th>
                                <td th:text="${job?.jobStatus}"></td>
                            </tr>
                            <tr>
                                <th>Pod Template</th>
                                <td><pre><code class="hljs language-yaml" style="background-color: transparent;" th:each="template : ${job?.podTemplate}" th:text="${template}"></code></pre></td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-title">Events</div>
                    <table class="list_mtable_100">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Source</th>
                                <th>Count</th>
                                <th>Sub-Object</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(job?.events)}">
                                <td colspan="5" class="text-center">No events</td>
                            </tr>
                            <tr th:if="${job?.events}" th:each="event : ${job?.events}">
                                <td th:text="${event?.type}"></td>
                                <td th:text="${event?.source}"></td>
                                <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}"></td>
                                <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}"></td>
                                <td th:text="${event?.lastSeen}"></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" th:href="@{/vendor/highlight/styles/base16/solarized-dark.min.css}">

    <script th:src="@{/vendor/highlight/highlight.js}"></script>
    <script th:src="@{/vendor/highlight/languages/yaml.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const linkUrl= [[${link}]];
        const pathPrefix = '/monitoring/cluster/workloads/namespace/';
        /*]]>*/

        $(document).ready(function() {
            $(document).on('change', '#namespace', function() {
                kube.reloadList(linkUrl.replace('{namespace}', $.trim($(this).val())));
            });

            $(document).on('click', 'a.table2-link', function() {
                kube.showModal(pathPrefix + $(this).data('namespace') + '/jobs/' + $(this).data('name'), hljs.highlightAll);
            });
        });
    </script>
</div>
</body>
</html>
