<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/assets/js/jquery-ui-1.9.2.custom.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui-1.9.2.custom.css}" />
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">

        <!-- [클러스터 Pods] start -->
        <div class="row">
            <div class="main_title_top"><i class="feather icon-chevrons-right"></i> <span
                th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}"
                                class="custom-select" id="namespace">
                            <option value="all" selected> All</option>
                            <option th:each="value : ${namespaces}"
                                    th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}"
                                    th:value="${value?.name}" th:text="${value?.name}">value
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(pods) ? '0' : pods.size()}" class="point pr_10">20</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Application</th>
                            <th>Namespace</th>
                            <th>Container</th>
                            <th>Controlled</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>View Log</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(pods)}">
                            <td colspan="7" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(pods)}" th:each="pod : ${pods}">
                            <td>
                                <a class="table2-link" th:href="'javascript:podDetail(&quot;' + ${pod?.namespace} + '&quot;, &quot;'+ ${pod?.name} + '&quot;)'"
                                   th:utext="${pod?.name}">Name</a>
                            </td>
                            <td th:text="${@managementService.managementService(pod?.namespace, pod?.name)?.displayName}">Application</td>
                            <td th:text="${pod?.namespace}">Namespace</td>
                            <td th:text="${pod?.ready}">Container</td>
                            <td th:text="${pod?.node}">Controlled</td>
                            <td th:text="${pod?.age}">Age</td>
                            <td th:switch="${pod?.status}">
                                <span th:case="Running" class="madal_label_active">Running</span>
                                <span th:case="Completed" class="madal_label_active">Completed</span>
                                <span th:case="Pending" class="madal_label_warning">Pending</span>
                                <span th:case="Succeeded" class="madal_label_active">Succeeded</span>
                                <span th:case="Failed" class="madal_label_danger">Failed</span>
                                <span th:case="Unknown" class="madal_label">Unknown</span>
                            </td>
                            <td class="text-center">
                                <a th:href="'javascript:logShow(&quot;' + ${pod?.namespace} + '&quot;, &quot;'+ ${pod?.name} + '&quot;)'">
                                    <span class="glyphicon glyphicon-list-alt" style="font-size: 150%;"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!--        <div class="text-center">&lt;!&ndash; 페이지넘버 &ndash;&gt;-->
<!--            <nav>-->
<!--                <ul class="pagination" >-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="active"><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
        <!-- [클러스터 Pods] End-->
    </div>
    <!-- [Modal] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Pod : ${pod?.name}|">Pod : Pod명+보험코어 어플리케이션 명</span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">
                        Metrics
                    </div>
                    <div class="row" th:each="panelRow : ${page?.rows}">
                        <div th:if= "${panelRow.title == 'pop-up (per POD)'}" th:each="panel : ${panelRow?.pageRowPanels}" class="col-md-12 col-lg-3">
                            <div class="box_panel">
                                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                                <div th:id="|container-${panel?.panelId}|" style="min-height: 160px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-title">
                            Metadata
                        </div>
                        <table class="table-nt">
                            <tr>
                                <th>Created</th>
                                <td th:text="${#dates.format(pod?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td th:text="${pod?.name}">kube-apiserver</td>
                            </tr>
                            <tr>
                                <th>Namespace</th>
                                <td th:text="${pod?.namespace}">default</td>
                            </tr>
                            <tr>
                                <th>Labels</th>
                                <td>
                                    <div class="row" th:if="${pod?.labels}" th:each="entry : ${pod?.labels}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${pod?.labels}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Annotations</th>
                                <td>
                                    <div class="row" th:if="${pod?.annotations}" th:each="entry : ${pod?.annotations}">
                                        <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                    </div>
                                    <div th:unless="${pod?.annotations}">-</div>
                                </td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td th:switch="${pod?.status}">
                                    <span th:case="Running" class="madal_label_active" th:text="${pod?.status}">Running</span>
                                    <span th:case="Completed" class="madal_label_active" th:text="${pod?.status}">Completed</span>
                                    <span th:case="Pending" class="madal_label_warning" th:text="${pod?.status}">Pending</span>
                                    <span th:case="Succeeded" class="madal_label_active" th:text="${pod?.status}">Succeeded</span>
                                    <span th:case="Failed" class="madal_label_danger" th:text="${pod?.status}">Failed</span>
                                    <span th:case="Unknown" class="madal_label" th:text="${pod?.status}">Unknown</span>
                                    <span th:case="*" class="madal_label" th:text="${pod?.status}"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Node</th>
                                <td th:text="${#strings.isEmpty(pod?.node) ? '-' : pod?.node}">Node 명</td>
                            </tr>
                            <tr>
                                <th>POP IP</th>
                                <td th:text="${#strings.isEmpty(pod?.podIp) ? '-' : pod?.podIp}">000.000.000.000</td>
                            </tr>
                            <tr>
                                <th>Priority Class</th>
                                <td th:text="${#strings.isEmpty(pod?.priority) ? '-' : pod?.priority}">system-cluster-critical</td>
                            </tr>
                            <tr>
                                <th>Tolerations</th>
                                <td>
                                    <div th:if="${#arrays.isEmpty(pod?.tolerations)}">-</div>
                                    <div class="row" th:unless="${#arrays.isEmpty(pod?.tolerations)}" th:each="item : ${pod?.tolerations}" >
                                        <span class="madal_label"
                                              th:text="|Key : ${item?.key}, Operator : ${item?.operator}, Effect : ${item?.effect}|">
                                            Key : [], Operator : [], Effect : []
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-title" th:unless="${#arrays.isEmpty(pod?.containers)}">
                        Containers
                    </div>

                    <div class="row" th:unless="${#arrays.isEmpty(pod?.containers)}"
                         th:each="container : ${pod?.containers}">
                        <input th:id="|modal-answer-${container?.name}|" type="checkbox" name="accordion" id="modal-answer" >
                        <label th:for="|modal-answer-${container?.name}|" for="modal-answer" style="color:#bebebe">
                            <span th:text="${container?.name}">kube-state-metrics</span><em></em>
                        </label>
                        <div>
                            <div class="row">
                                <div class="row" th:each="panelRow : ${page?.rows}">
                                    <div th:if= "${panelRow.title == 'Pop-up (per Container)'}" th:each="panel : ${panelRow?.pageRowPanels}" class="col-md-12 col-lg-4">
                                        <div class="box_panel">
                                            <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                                            <div th:id="|container-${container?.name}-${panel?.panelId}|" style="min-height: 160px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table-nt">
                                    <tr>
                                        <th>Status</th>
                                        <td th:switch="${container?.status}">
                                            <span th:case="running" class="madal_label_active" th:text="${#strings.capitalize(container?.status)}">running</span>
                                            <span th:case="terminated" class="madal_label_active" th:text="${#strings.capitalize(container?.status)}">terminated</span>
                                            <span th:case="completed" class="madal_label_active" th:text="${#strings.capitalize(container?.status)}">completed</span>
                                            <span th:case="waiting" class="madal_label_warning" th:text="${#strings.capitalize(container?.status)}">waiting</span>
                                            <span th:case="*" class="madal_label" th:text="${container?.status}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td th:text="${#strings.isEmpty(container?.image) ? '-' : container?.image}">Image</td>
                                    </tr>
                                    <tr>
                                        <th>Environment</th>
                                        <td>
                                            <div th:if="${container?.env != null}" th:utext="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).yamlDumpHtml(container?.env)}"> </div>
                                            <div th:if="${container?.env == null}">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mounts</th>
                                        <td>
                                            <div th:if="${container?.volumeMounts != null}" th:utext="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).yamlDumpHtml(container?.volumeMounts)}"> </div>
                                            <div th:if="${container?.volumeMounts == null}">-</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Liveness</th>
                                        <td>
                                            <div th:if="${container?.livenessProbe != null}" th:utext="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).yamlDumpHtml(container?.livenessProbe)}"> </div>
                                            <div th:if="${container?.livenessProbe == null}"> - </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Readness</th>
                                        <td>
                                            <div th:if="${container?.readinessProbe != null}" th:utext="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).yamlDumpHtml(container?.readinessProbe)}"> </div>
                                            <div th:if="${container?.readinessProbe == null}"> - </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Command</th>
                                        <td>
                                            <div th:if="${container?.command != null}" th:text="${#strings.arrayJoin(container?.command,', ')}"></div>
                                            <div th:if="${container?.command == null}"> - </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="table-title">
                        Volumes
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(pod?.volumes)}">
                            <td colspan="3" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(pod?.volumes)}" th:each="volume : ${pod?.volumes}">
                            <td th:text="${#strings.isEmpty(volume?.name) ? '-' : volume?.name}">Name</td>
                            <td th:text="${#strings.isEmpty(volume?.type) ? '-' : volume?.type}">Type</td>
                            <td>
                                <div th:if= "${volume?.values}" th:each="value : ${volume?.values}" th:text="${value}">Value</div>
                                <div th:unless= "${volume?.values}" th:text="|-|">Value</div>
                            </td>
                        </tr>
                        <tbody>
                    </table>
                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(pod?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${pod?.events}" th:each="event : ${pod?.events}">
                            <td th:text="${event?.type}">Type</td>
                            <td th:text="${event?.reason}">Reason</td>
                            <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}">Count</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${event?.lastSeen}">Last</td>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="logDiv" class="modal-title_box"
         style="display: none; width: 100%; height: 500px; position: fixed; left: 0; bottom: 0; z-index: 1;
         background-color: rgb(24, 24, 24); text-align: left;  padding: 20px; border-top: 3px solid #444444;">

        <div class="table-title_box" style="padding-left: 10px; ">
            <div class="modal-title" style="margin-bottom: 10px;">
                <span id="podLogLabel" style="margin-right: 10px;"> Pod : Pod명+보험코어 어플리케이션 명</span>
                <span class="table-title" style="font-weight: bold;">Container</span>
                <select class="custom-select" id="selectContainer">
                </select>
                <a href="javascript:logRefresh();">
                    <span class="glyphicon glyphicon-refresh" style="color: #ff7200; margin: 2px 10px;"></span>
                </a>
                <button type="button" class="close px-3" aria-label="Close" onclick="logClose()" style="color: #fff;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="scrollBoard" id="scrollCode" style="height: 423px;">
                <pre style="color:gray"><code id="codeLog" style="color: green; font-size: 13px; font-weight: bold;"></code></pre>
            </div>
        </div>
    </div>


    <script th:src="@{/assets/js/common-charts.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>

    <input type="hidden" id="var-namespace" value=""/>
    <input type="hidden" id="var-name" value=""/>
    <input type="hidden" id="var-containerName" value=""/>

    <script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/
        let pageRows = [[${page?.rows}]];
        let containerPanel = new Map();

        /*]]>*/


        var apiHost,
            $namespace = $("#var-namespace"),
            $name = $("#var-name"),
            $containerName = $("#var-containerName"),
            $contentList = $("#contentList"),
            linkUrl= [[${link}]]

        function destroyContainerChart(){
            containerPanel.forEach((panels, key) => {
                panels.forEach(panel => commonChartsJs.removeChart(panel));
            });
            containerPanel.clear();
        }

        function podDetail(namespace, name) {
            destroyContainerChart();
            $namespace.val(namespace);
            $name.val(name);

            $.ajax({
                url: "/api/v1/monitoring/cluster/workloads/namespace/" + namespace + "/pods/" + name + "/metrics",
                success: function (data) {

                    apiHost = data.host;

                    var containers = data.pod.containers;
                    var row = data.page.rows;

                    for (var i=0; i<row.length; i++) {
                        if ( row[i].title == 'pop-up (per POD)' ) {
                            row[i].pageRowPanels.forEach(panel => {
                                commonChartsJs.removeChart(panel);
                                commonChartsJs.createPanel(panel);
                            });
                        } else {
                            containers.forEach(container => {
                                let panels = JSON.parse(JSON.stringify(row[i].pageRowPanels));
                                panels.forEach(panel =>  {
                                    panel.panelId = container.name + "-" + panel.panelId;
                                    return panel;
                                });
                                containerPanel.set(container.name, panels);
                            });
                        }
                    }

                    $('#myModal').text("");
                    $('#myModal').html(data.describe);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href',
                        '/login?logout')
                    }
                }
            });
        }

        var logName = "";
        var logNamespace = "";
        var logSinceTime = "";
        var logSelectTriggerCheck = "";
        function logShow(namespace, name){
            if($("#logDiv").css("display") === "none" || namespace !== logNamespace || name !== logName){
                $.ajax({
                    url: "/api/v1/monitoring/cluster/workloads/namespace/" + namespace + "/pods/" + name + "/default/log",
                    data: {
                        sinceTime: ""
                    },
                    success: function (data) {
                        $("#podLogLabel").text("Pod : " + name);
                        $("#codeLog").text(data.podLog.log);
                        $("#selectContainer").children('option').remove();
                        for(var i=0; i < data.containerList.length; i++){
                            $("#selectContainer").append("<option value='" + data.containerList[i] + "'>" + data.containerList[i] + "</option>");
                        }
                        logNamespace = namespace;
                        logName = name;
                        logSinceTime = data.podLog.lastLogTime;
                        $('#logDiv').css("display", "block");
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href',
                            '/login?logout')
                        }
                    }
                });
            } else {
                $('#logDiv').css("display", "none");
            }
        }

        function logRefresh(){
            logSelectTriggerCheck = "refresh";
            $("#selectContainer").trigger("change");
        }

        function logClose(){
            $('#logDiv').css("display", "none");
        }

        function resizeSetting(){

            $("#logDiv").resizable({ // 초기 설정값
                minHeight: 100,
                maxHeight: 620,
                handles: "n", // 북쪽만 드래그 가능

                resize: function( event, ui ) { // 마우스 드래그(resize) 도중
                    $(this).css("width", '100%');
                    $(this).css("top", '');
                },

                stop: function(event, ui) { // 마우스 드래그(resize)가 끝났을때
                    var logHeigth = $("#logDiv").css("height");
                    logHeigth = logHeigth.replace("px", "");
                    logHeigth -= 77;
                    $("#scrollCode").css("height", String(logHeigth)+"px");
                }
            });
        }

        $(document).ready(function () {
            resizeSetting();

            $("#selectContainer").change(function() {
                var container = $("#selectContainer option:checked").text();
                if(logSelectTriggerCheck !== "refresh"){
                    logSinceTime = "";
                }
                $.ajax({
                    url: "/api/v1/monitoring/cluster/workloads/namespace/" + logNamespace + "/pods/" + logName + "/"+ container + "/log",
                    data: {
                        sinceTime: logSinceTime
                    },
                    success: function (data) {
                        if(logSelectTriggerCheck === "refresh"){
                            var codeText = $("#codeLog").text();
                            $("#codeLog").text(codeText + "\n" + data.podLog.log);
                        } else {
                            $("#codeLog").text(data.podLog.log);
                        }
                        logSinceTime = data.podLog.lastLogTime;
                        logSelectTriggerCheck = "";
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href',
                            '/login?logout')
                        }
                    }
                });
            });

            $(document).on("change", "input[id^='modal-answer']", function(){

                if($(this).val() === '1') {
                    return;
                }

                var containerName = comnJs.replace($(this).attr('id'), 'modal-answer-', '');
                $containerName.val(containerName);

                let panels = containerPanel.get(containerName);
                panels.forEach(panel => {
                    commonChartsJs.createPanel(panel)
                });

                $(this).val(1);
            });

            $("#namespace").on("change", function () {
                const $namespace = $(this);
                const selectedNamespace = $namespace.val();
                let url = linkUrl.replace(new RegExp('{namespace}', 'g'), selectedNamespace);
                console.log("url=", url);
                $.ajax({
                    url: url,
                    success: function (data) {
                        $contentList.text("");
                        $contentList.html(data);
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
                });
            });
        });



    </script>

</div>
</body>
</html>