server:
  port: 8080

spring:
  application:
    name: kube-watcher
  jackson:
    default-property-inclusion: non_null
    serialization:
      indent-output: false
      write-dates-as-timestamps: false
    deserialization:
      fail-on-ignored-properties: false
      fail-on-unknown-properties: false
    property-naming-strategy: SNAKE_CASE
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat
  thymeleaf:
    cache: false
  main:
    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/kube-watcher?autoReconnect=true&useSSL=false&serverTimezone=Asia/Seoul
    username: kwuser
    password: kubeworks!@
    hikari:
      auto-commit: false
      connection-init-sql: "set session time_zone = 'Asia/Seoul'"
      minimum-idle: 10
      maximum-pool-size: 10
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database: mysql
    generate-ddl: true
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.use_sql_comments: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  h2:
    console:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    export:
      prometheus:
        enabled: true

application:
  properties:
    root-domain: ''
    auth:
      users:
        - user-name: "test"
          password: "test"
          role: "USER"
    dependencies:
      grafana:
        url: "http://grafana.kw-management-dev"
        api-token: "eyJrIjoiUUpiVFlPVjhidmxtNlZxTnRGZ0lDd3p6bXg3MnhQY3IiLCJuIjoia3ViZS13YXRjaGVyIiwiaWQiOjF9"
        login-cookie-name: "grafana_session"
      prometheus:
        url: "http://prometheus.kw-management-dev"

logging:
  file:
    path: /home/song/dev/logs
    name: ${logging.file.path}/kube-watcher.log
    max-history: 10
    max-size: 20MB

---
spring:
  profiles: local
  jpa:
    show-sql: true

application:
  properties:
    dependencies:
      grafana:
        url: "http://10.142.11.248:30300"
        api-token: "eyJrIjoiUUpiVFlPVjhidmxtNlZxTnRGZ0lDd3p6bXg3MnhQY3IiLCJuIjoia3ViZS13YXRjaGVyIiwiaWQiOjF9"
        login-cookie-name: "grafana_session"
      prometheus:
        url: "http://10.142.11.170:30909"

logging:
  level:
    com.squareup.okhttp3: debug

---
spring:
  profiles: embedded
  jpa:
    generate-ddl: false
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:kube-watcher;MODE=MySQL
    username: kwuser
    password:
    hikari:
      connection-init-sql: ""
      auto-commit: true
      minimum-idle: 10
      maximum-pool-size: 10
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true