server:
  port: 8080

spring:
  application:
    name: kube-watcher
  jackson:
    default-property-inclusion: non_null
    serialization:
      indent-output: false
      write-dates-as-timestamps: false
    deserialization:
      fail-on-ignored-properties: false
      fail-on-unknown-properties: false
    property-naming-strategy: SNAKE_CASE
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat
  thymeleaf:
    cache: false
  main:
    allow-bean-definition-overriding: true


management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    export:
      prometheus:
        enabled: true


application:
  properties:
    root-domain: ''
    auth:
      users:
        - user-name: "test"
          password: "test"
          role: "USER"
    dependencies:
      grafana:
        url: "http://grafana.kw-mgmt-dev"
        api-token: "eyJrIjoiQTJkQWREM0xwS254ZXM3bG5uQzNQako5SmFSd0RQMjQiLCJuIjoia3ViZS13YXRjaGVyIiwiaWQiOjF9"
        login-cookie-name: "grafana_session"
      prometheus:
        url: "http://prometheus.kw-mgmt-dev"

