server.port: 8080
server.servlet.session.cookie.name: default
server.servlet.session.timeout: 60m

server.shutdown: graceful
spring.lifecycle.timeout-per-shutdown-phase: 30s

spring.application.name: kube-watcher
spring.main.allow-bean-definition-overriding: true
spring.thymeleaf.cache: false

spring.jackson.default-property-inclusion: non_null
spring.jackson.serialization.indent-output: false
spring.jackson.serialization.write-dates-as-timestamps: false
spring.jackson.deserialization.fail-on-ignored-properties: false
spring.jackson.deserialization.fail-on-unknown-properties: false
spring.jackson.property-naming-strategy: LOWER_CAMEL_CASE
spring.jackson.date-format: com.fasterxml.jackson.databind.util.StdDateFormat

spring.datasource.initialization-mode: ALWAYS
spring.datasource.driver-class-name: org.h2.Driver
spring.datasource.url: "jdbc:h2:mem:kubeworksdb;AUTO_SERVER=FALSE;IFEXISTS=false;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;MODE=MySQL;"
spring.datasource.username: sa
spring.datasource.password:

spring.datasource.data: classpath:sql/import.sql,classpath:sql/import-actuator.sql
spring.datasource.schema: classpath:sql/schema.sql

spring.datasource.hikari.connection-init-sql: ""
spring.datasource.hikari.auto-commit: false
spring.datasource.hikari.minimum-idle: 10
spring.datasource.hikari.maximum-pool-size: 10
spring.datasource.hikari.data-source-properties.cachePrepStmts: true
spring.datasource.hikari.data-source-properties.prepStmtCacheSize: 250
spring.datasource.hikari.data-source-properties.prepStmtCacheSqlLimit: 2048
spring.datasource.hikari.data-source-properties.useServerPrepStmts: true

spring.jpa.database: h2
spring.jpa.generate-ddl: false
spring.jpa.show-sql: true
spring.jpa.hibernate.ddl-auto: none
spring.jpa.properties.hibernate.format_sql: true
spring.jpa.properties.hibernate.use_sql_comments: true
spring.jpa.properties.hibernate.hbm2ddl.charset_name: UTF-8
spring.jpa.properties.hibernate.hbm2ddl.import_files: ""
spring.jpa.database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

spring.h2.console.enabled: true
spring.h2.console.path: /h2-console
spring.h2.console.settings.web-allow-others: true

spring.task.scheduling.pool.size: 10
spring.task.scheduling.shutdown.await-termination: true
spring.task.scheduling.shutdown.await-termination-period: 30s

mybatis.executor-type: simple
mybatis.configuration.cache-enabled: false
mybatis.configuration.lazy-loading-enabled: false
mybatis.configuration.aggressive-lazy-loading: false
mybatis.configuration.default-statement-timeout: 5
mybatis.configuration.jdbc-type-for-null: NULL
mybatis.configuration.call-setters-on-nulls: true
mybatis.configuration.map-underscore-to-camel-case: true

management.endpoints.web.exposure.include: health,info,prometheus,routes,beans
management.metrics.export.prometheus.enabled: true

zuul.retryable: true
zuul.force-original-query-string-encoding: true
zuul.host.connection-request-timeout-millis: 3000
zuul.host.connect-timeout-millis: 2000
zuul.host.max-per-route-connections: 20
zuul.host.max-total-connections: 500

ribbon.okhttp.enabled: true

application.properties.monitoring.default-cluster-name: local
application.properties.monitoring.clusters.local.cluster-name: local
application.properties.monitoring.clusters.local.k8s.url: "https://3.37.118.122:30443/k8s/clusters/local"
application.properties.monitoring.clusters.local.k8s.api-token: "kubeconfig-user-5b8f96thrg:ctjmd9qszj4n66flkrthfgpv6wjtv4ps6r422d7f9j4dlhw4m2tnzb"
application.properties.monitoring.clusters.local.prometheus.proxy: true
application.properties.monitoring.clusters.local.prometheus.url: "http://3.37.118.122:30099"
application.properties.monitoring.clusters.local.loki.proxy: true
application.properties.monitoring.clusters.local.loki.url: "http://loki.cattle-prometheus"

logging.level.root: info

spring.cache.type: CAFFEINE
spring.cache.cache-names: app-names
spring.cache.caffeine.spec: maximumSize=100,expireAfterWrite=604800s

logging.file.path: ${TEST_HOME:${java.io.tmpdir:/tmp}}/
spring.pid.fail-on-write-error: true
spring.pid.file: ${TEST_HOME:${java.io.tmpdir:/tmp}}/kube-watcher.pid
