<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <div id="main_contents">
        <div th:each="panelRow : ${page?.rows}">
            <div class="row">
                <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${panelRow?.title})"/>
            </div>
            <div class="row">
                <th:block th:each="panel : ${panelRow?.pageRowPanels}">
                    <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                </th:block>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/common-charts.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/axios/axios.min.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let pageRows = [[${page?.rows}]],
            apiHost = [[${host}]];
        /*]]>*/

        $(document).ready(function () {
            pageRows.forEach(row => row.pageRowPanels.forEach(panel => commonChartsJs.createPanel(panel)));
        });

    </script>

</div>
</body>
</html>