<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Monitoring<i class=&quot;feather icon-chevron-right&quot; ></i>Cluster<i class=&quot;feather icon-chevron-right&quot; ></i>Storages')"/>
    <div id="main_contents">

        <!-- [Persistent Volume Claims] start -->
        <div class="row">
            <div class="main_title_top"><i class="feather icon-chevrons-right"></i> Persistent Volume Claims
                <!--                <div class="f_r">-->
                <!--                    <div class=" d_ib">-->
                <!--                        <div class="form-group has-feedback d_ib">-->
                <!--                            <input type="text" placeholder="Search" class="search_table">-->
                <!--                            <i class="feather icon-search form-control-feedback search_topbar_i" ></i>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="dropdown d_ib">-->
                <!--                        <select id="multi-select-box">-->
                <!--                            <option value="통합관리환경 admin">통합관리환경 admin</option>-->
                <!--                            <option value="보험코어 monitor">보험코어 monitor</option>-->
                <!--                            <option value="Cluster monitor">Cluster monitor</option>-->
                <!--                            <option value="Cluster log viewer">Cluster log viewer</option>-->
                <!--                            <option value="On-premise monitor">On-premise monitor</option>-->
                <!--                            <option value="Cluster admin">Cluster admin</option>-->
                <!--                            <option value="Dashboard operator">Dashboard operator</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(persistentVolumeClaims) ? '0' : persistentVolumeClaims.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table155">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Storage class</th>
                            <th>Size</th>
                            <th>Age</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(persistentVolumeClaims)}">
                            <td colspan="6" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(persistentVolumeClaims)}" th:each="persistentVolumeClaim : ${persistentVolumeClaims}">
                            <!--                            <td>-->
                            <!--                                <a th:text="${persistentVolumeClaim?.name}" href="" class="table2-link" data-toggle="modal" data-target="#myModal">Name</a>-->
                            <!--&lt;!&ndash;                                <a class="table2-link" th:href="'javascript:nodeDetail(&quot;' + ${persistentVolumeClaim?.name} + '&quot;)'"&ndash;&gt;-->
                            <!--&lt;!&ndash;                                   th:utext="${persistentVolumeClaim?.name}">Name</a>&ndash;&gt;-->
                            <!--                            </td>-->
                            <td>
                                <a class="table2-link" th:href="'javascript:persistentVolumesClaimDetail(&quot;' + ${persistentVolumeClaim?.namespace} + '&quot;, &quot;'+ ${persistentVolumeClaim?.name} + '&quot;)'"
                                   th:utext="${persistentVolumeClaim?.name}">Name</a>
                            </td>
                            <!--                            <td th:text="${persistentVolumeClaim?.name}">Name</td>-->
                            <td th:text="${persistentVolumeClaim?.namespace}">Namespace</td>
                            <td th:text="${persistentVolumeClaim?.storageClass}">Storage class</td>
                            <td th:text="${persistentVolumeClaim?.capacity}">Size</td>
                            <td th:text="${persistentVolumeClaim?.age}">Age</td>
                            <td th:text="${persistentVolumeClaim?.status}">Status</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Persistent Volume Claims] End-->
        <!-- [Persistent Volume] start -->
        <div class="row">
            <div class="main_title" ><i class="feather icon-chevrons-right"></i> Persistent Volume</div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(persistentVolumes) ? '0' : persistentVolumes.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table155">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Storage class</th>
                            <th>Capacity</th>
                            <th>Claim</th>
                            <th>Age</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(persistentVolumes)}">
                            <td colspan="6" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(persistentVolumes)}" th:each="persistentVolume : ${persistentVolumes}">
                            <!--                            <td>-->
                            <!--                                <a th:text="${persistentVolume?.name}" href="" class="table2-link" data-toggle="modal" data-target="#myModal2">Name</a>-->
                            <!--&lt;!&ndash;                                <a class="table2-link" th:href="'javascript:nodeDetail(&quot;' + ${persistentVolume?.name} + '&quot;)'"&ndash;&gt;-->
                            <!--&lt;!&ndash;                                   th:utext="${persistentVolume?.name}">Name</a>&ndash;&gt;-->
                            <!--                            </td>-->
                            <!--                            <td th:text="${persistentVolume?.name}">Name</td>-->
                            <td>
                                <a class="table2-link" th:href="'javascript:persistentVolumesDetail(&quot;'+ ${persistentVolume?.name} + '&quot;)'"
                                   th:utext="${persistentVolume?.name}">Name</a>
                            </td>
                            <td th:text="${persistentVolume?.storageClass}">Storage class</td>
                            <td th:text="${persistentVolume?.capacity}">Capacity</td>
                            <td th:text="${persistentVolume?.claim}">Claim</td>
                            <td th:text="${persistentVolume?.age}">Age</td>
                            <td th:text="${persistentVolume?.status}">Status</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Persistent Volume] End-->
        <!-- [Storage Classes] start -->
        <div class="row">
            <div class="main_title" ><i class="feather icon-chevrons-right"></i> Storage Classes</div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(storages) ? '0' : storages.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table155">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Provisioner</th>
                            <th>Reclaim Policy</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(storages)}">
                            <td colspan="4" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(storages)}" th:each="storage : ${storages}">
                            <!--                            <td>-->
                            <!--                                <a th:text="${storage?.name}" href="" class="table2-link" data-toggle="modal" data-target="#myModal3">Name</a>-->
                            <!--&lt;!&ndash;                                <a class="table2-link" th:href="'javascript:nodeDetail(&quot;' + ${storage?.name} + '&quot;)'"&ndash;&gt;-->
                            <!--&lt;!&ndash;                                   th:utext="${storage?.name}">Name</a>&ndash;&gt;-->
                            <!--                            </td>-->
                            <td>
                                <a class="table2-link" th:href="'javascript:storageClassesDetail(&quot;'+ ${storage?.name} + '&quot;)'"
                                   th:utext="${storage?.name}">Name</a>
                            </td>
                            <!--                            <td th:text="${storage?.name}">Name</td>-->
                            <td th:text="${storage?.provisioner}">Provisioner</td>
                            <td th:text="${storage?.reclaimPolicy}">Reclaim Policy</td>
                            <td th:text="${storage?.age}">Age</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Storage Classes] End-->
    </div>
    <!-- [Modal : persistentVolumeClaim] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="pvModalContents" class="modal-dialog modal-lg"style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Persistent Volume Claim : ${persistentVolumeClaim?.name}|">Persistent Volume Claim : PVC 명</span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">
                        Overview
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-5">
                            <div class="box_panel">
                                <div class="box_modal-heading">Disk</div>
                                <div class="box_modal-body">
                                    <img th:src="@{/assets/img/chart3.jpg}" class="img-responsive" alt="" style="width:100%; height:70%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-7">
                            <table class="table-nt">
                                <tr>
                                    <th>Created</th>
                                    <td th:text="${#dates.format(persistentVolumeClaim?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td th:text="${persistentVolumeClaim?.name}">CLAIM-XXXX</td>
                                </tr>
                                <tr>
                                    <th>Namespace</th>
                                    <td th:text="${persistentVolumeClaim?.namespace}">kube-system</td>
                                </tr>
                                <tr>
                                    <th>Labels</th>
                                    <td>
                                        <div class="row" th:each="entry : ${persistentVolumeClaim?.labels}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        label </span>
                                            <span class="madal_label"
                                                  th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        label </span>
                                        </div>
                                        <!--                                        <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                                    </td>
                                </tr>
                                <tr>
                                    <th>Annotations</th>
                                    <td>
                                        <div class="row" th:each="entry : ${persistentVolumeClaim?.annotations}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        label </span>
                                            <span class="madal_label"
                                                  th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        label </span>
                                        </div>
                                        <!--                                        <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                                    </td>
                                </tr>
                                <tr>
                                    <th>Finalizers</th>
                                    <td><span class="madal_label" th:text="${persistentVolumeClaim?.finalizers}">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                                </tr>
                                <tr>
                                    <th>Access Modes</th>
                                    <td th:text="${persistentVolumeClaim?.accessModes}">ReadWriteOnce</td>
                                </tr>
                                <tr>
                                    <th>Storage class name</th>
                                    <td th:text="${persistentVolumeClaim?.storageClassName}">Standard</td>
                                </tr>
                                <tr>
                                    <th>Storage</th>
                                    <td>000G</td>
                                </tr>
                                <tr>
                                    <th>Pods</th>
                                    <td th:text="${persistentVolumeClaim?.pods}">pod-XXX</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td th:text="${persistentVolumeClaim?.status}">Bound</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="table-title">
                        Selector
                    </div>
                    <table class="table-nt">
                        <tr>
                            <th>Match Labels</th>
                            <td th:text="${persistentVolumeClaim?.selector.matchLabels}"> </td>
                        </tr>
                        <tr>
                            <th>Match Expressions</th>
                            <td th:text="${persistentVolumeClaim?.selector.matchExpressions}"></td>
                        </tr>
                    </table>
                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(persistentVolumeClaim?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${persistentVolumeClaim?.events}" th:each="event : ${pod?.events}">
                            <td th:text="${event?.type}">Type</td>
                            <td th:text="${event?.reason}">Reason</td>
                            <td th:text="${event?.count}">Count</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${#dates.format(event?.lastSeen, 'yyyy-MM-dd HH:mm:ss')}">Last</td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
                        <tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <!-- [Modal : persistentVolumeClaim] End -->
    <!-- [Modal : persistentVolume] start -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" >
        <div th:fragment="pvcModalContents" class="modal-dialog modal-lg"style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel2" th:text="|Persistent Volume : ${persistentVolume?.name}|">Persistent Volume : PV 명</span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">
                        Overview
                    </div>

                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(persistentVolume?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${persistentVolume?.name}">CLAIM-XXXX</td>
                        </tr>
                        <!--                        <tr>-->
                        <!--                            <th>Namespace</th>-->
                        <!--                            <td>kube-system</td>-->
                        <!--                        </tr>-->
                        <tr>
                            <th>Labels</th>
                            <td>
                                <div class="row" th:each="entry : ${persistentVolume?.labels}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        /// </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        /// </span>
                                </div>
                                <!--                                <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Annotations</th>
                            <td>
                                <!--                                <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                                <div class="row" th:each="entry : ${persistentVolume?.annotations}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        /// </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        /// </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Finalizers</th>
                            <td><span class="madal_label" th:text="${persistentVolume?.finalizers}">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                        </tr>
                        <tr>
                            <th>Access Modes</th>
                            <td th:text="${persistentVolume?.accessModes}">ReadWriteOnce</td>
                        </tr>
                        <tr>
                            <th>Reclaim Policy</th>
                            <td th:text="${persistentVolume?.reclaimPolicy}">Delete</td>
                        </tr>
                        <tr>
                            <th>Storage Class Name</th>
                            <td th:text="${persistentVolume?.storageClassName}">Standard</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td th:text="${persistentVolume?.status}">Bound</td>
                        </tr>
                    </table>

                    <div class="table-title">
                        Claim
                    </div>
                    <table class="table-nt">
                        <tr>
                            <th>Type</th>
                            <td th:text="${persistentVolume?.claim}">PersistentVolumeClaim</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${persistentVolume?.claim.name}">CLAIM-XXX</td>
                        </tr>
                        <tr>
                            <th>Namespace</th>
                            <td th:text="${persistentVolume?.claim.namespace}">default</td>
                        </tr>
                    </table>
                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(persistentVolume?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${persistentVolume?.events}" th:each="event : ${persistentVolume?.events}">
                            <td th:text="${event?.type}">Event Message</td>
                            <td th:text="${event?.source}">///</td>
                            <td th:text="${event?.count}">00</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${#dates.format(event?.lastSeen, 'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [Modal : persistentVolume] End -->
    <!-- [Modal : storageClass] start -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="storageModalContents" class="modal-dialog modal-lg"style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel3" th:text="|Storage Class : ${storageClass?.name}|">Storage Class : SC 명</span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">
                        Overview
                    </div>

                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(storageClass?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${storageClass?.name}">Standard</td>
                        </tr>
                        <tr>
                            <th>Namespace</th>
                            <td>kube-system</td>
                        </tr>
                        <tr>
                            <th>Labels</th>
                            <td>
                                <div class="row" th:each="entry : ${storageClass?.labels}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        /// </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        /// </span>
                                </div>
                                <!--                                <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Annotations</th>
                            <td>
                                <div class="row" th:each="entry : ${storageClass?.annotations}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        /// </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>100}" th:text="|${entry.key} : ${entry.value}|">
                                        /// </span>
                                </div>
                                <!--                                <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Provisioner</th>
                            <td><span class="madal_label" th:text="${storageClass?.provisioner}">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                        </tr>
                        <tr>
                            <th>Volume Binding Mode</th>
                            <td th:text="${storageClass?.volumeBindingMode}">Immediate</td>
                        </tr>
                        <tr>
                            <th>Reclaim Policy</th>
                            <td th:text="${storageClass?.reclaimPolicy}">Delete</td>
                        </tr>
                    </table>

                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(storageClass?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${storageClass?.events}" th:each="event : ${storageClass?.events}">
                            <td th:text="${event?.type}">Event Message</td>
                            <td th:text="${event?.source}">///</td>
                            <td th:text="${event?.count}">00</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${#dates.format(event?.lastSeen, 'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08)</td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>24일 15시 32분 (2020-05-24 15:32:08)</td>-->
<!--                        </tr>-->
                        <tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <!-- [Modal : storageClass] End -->
    <script type="text/javascript" th:inline="javascript">
        function persistentVolumesClaimDetail(namespace, name) {
            $.ajax({
                url: "/monitoring/cluster/namespace/" + namespace + "/persistent-volume-claims/" + name,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }
        function persistentVolumesDetail(name) {
            $.ajax({
                url: "/monitoring/cluster/persistent-volumes/" + name,
                success: function (data) {
                    $('#myModal2').text("");
                    $('#myModal2').html(data);
                    $('#myModal2').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

        function storageClassesDetail(name) {
            $.ajax({
                url: "/monitoring/cluster/storage-classes/" + name,
                success: function (data) {
                    $('#myModal3').text("");
                    $('#myModal3').html(data);
                    $('#myModal3').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }
    </script>

</div>
</body>
</html>