<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        let datas = {
            "menu_id": "140",
            "rows": [
                {
                    "row_id": 0,
                    "is_divider": false,
                    "title": "",
                    "order": "",
                    "panels": [
                        {
                            "panel_id": 0,
                            "title": 'Uptime',
                            "panel_type": "card",
                            "data_type": "text",
                            "src": "",
                            "item": '1'
                        },
                        {
                            "panel_id": 1,
                            "title": 'Start time',
                            "panel_type": "card",
                            "data_type": "text",
                            "src": "",
                            "item": '2020-05-20 12:22:03'
                        },
                        {
                            "panel_id": 2,
                            "title": 'Heap Used',
                            "panel_type": "back-chart",
                            "data_type": "text",
                            "src": "",
                            "item": '35%'
                        },
                        {
                            "panel_id": 3,
                            "title": 'JVM Version',
                            "panel_type": "card",
                            "data_type": "text",
                            "src": "",
                            "item": '1.8.0-XXX'
                        }
                    ]
                },
                {
                    "row_id": 1,
                    "is_divider": false,
                    "title": "보험코어 JVM Inspector",
                    "order": "",
                    "panels": [
                        {
                            "panel_id": 4,
                            "title": "JVM CPU Usage (%)",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart6.jpg"
                        },
                        {
                            "panel_id": 5,
                            "title": "Transation (count)",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart5.jpg"
                        }
                    ]
                },
                {
                    "row_id": 2,
                    "is_divider": false,
                    "title": "보험코어 JVM Inspector",
                    "order": "",
                    "panels": [
                        {
                            "panel_id": 6,
                            "title": "Heap Used [Memory bytes]",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart4.jpg"
                        },
                        {
                            "panel_id": 7,
                            "title": "Non Heap Usage [Memory bytes]",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart3.jpg"
                        },
                        {
                            "panel_id": 8,
                            "title": "PS Dden [Memory bytes]",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart2.jpg"
                        },
                        {
                            "panel_id": 9,
                            "title": "PS Old Gen [Memory bytes]",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart1.jpg"
                        }
                    ]
                },
                {
                    "row_id": 3,
                    "is_divider": false,
                    "title": "보험코어 JVM Inspector",
                    "order": "",
                    "panels": [
                        {
                            "panel_id": 10,
                            "title": "Thread used",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart5.jpg"
                        },
                        {
                            "panel_id": 11,
                            "title": "GC Count",
                            "panel_type": "box",
                            "data_type": "text",
                            "src": "",
                            "item": "chart6.jpg"
                        }
                    ]
                },
                {
                    "row_id": 4,
                    "is_divider": false,
                    "title": "Event",
                    "order": "",
                    "panels": [
                        {
                            "panel_id": 12,
                            "title": "",
                            "panel_type": "table-level",
                            "data_type": "text",
                            "src": "",
                            "item": {
                                head:['itemId', 'Event', 'Time', 'Level', 'Closed'],
                                body:[
                                    {
                                        'itemId': '0',
                                        'Event': 'System Architect',
                                        'Time': '2020-05-21 13:52:21',
                                        'Level': 'warning',
                                        'Closed': 'Y'
                                    },
                                    {
                                        'itemId': '0',
                                        'Event': 'System Architect',
                                        'Time': '2020-05-21 13:52:21',
                                        'Level': 'normal',
                                        'Closed': 'N'
                                    },
                                    {
                                        'itemId': '0',
                                        'Event': 'System Architect',
                                        'Time': '2020-05-21 13:52:21',
                                        'Level': 'danger',
                                        'Closed': 'Y'
                                    },
                                    {
                                        'itemId': '0',
                                        'Event': 'System Architect',
                                        'Time': '2020-05-21 13:52:21',
                                        'Level': 'warning',
                                        'Closed': 'N'
                                    },
                                    {
                                        'itemId': '0',
                                        'Event': 'System Architect',
                                        'Time': '2020-05-21 13:52:21',
                                        'Level': 'warning',
                                        'Closed': 'Y'
                                    }
                                ]
                            }
                        },
                        {
                            "panel_id": 13,
                            "title": "",
                            "panel_type": "box-blank",
                            "data_type": "text",
                            "src": "",
                            "item": "내용이 들어갑니다.<br>내용이 들어갑니다.<br>내용이 들어갑니다."
                        }
                    ]
                }
            ]
        };

        $().ready(function(){
            let rtnHtml = pTempJs.generatePanelList(datas.rows);

            for(let html of rtnHtml) {
                let idx = html.rowId,
                    $this = $('#main_contents .append').eq(idx);

                $this.children().remove();
                $this.append(html.panels);

                //예외처리
                if(idx === 0) {
                    $this.children().css({'padding-top':'20px', 'padding-right':'0px'});

                    let $target = $this.children().eq(0).find('.b_txt');
                    $target.append('<span class="b_sstxt2">day</span>');
                    pTempJs.changeClass($target, 'b_txt', 'b_txt_green');

                    $target = $this.children().eq(1).find('.b_txt');
                    pTempJs.changeClass($target, 'b_txt', 'b_sstxt2');

                    $target = $this.children().eq(2);
                    pTempJs.changeClass($target.find('.title_chart_c'), 'title_chart_c', 'title');
                    pTempJs.changeClass($target.find('.t_chart'), 't_chart', 'b_chart');

                    $target = $this.children().eq(3).find('.b_txt');
                    $target.css('padding', '30px 0px 27px 0px');
                    pTempJs.changeClass($target, 'b_txt', 'b_sstxt1');
                } else if (idx === 4) {
                    let clone = pTempJs.clone($this).children(),
                        sizeArray = ['col-xs-12 col-md-12 col-lg-7', 'col-xs-12 col-md-12 col-lg-5'],
                        styleArray = ['padding-right:0px;', 'padding-right:0px; padding-bottom:10px;'];

                    $this.children().remove();
                    for(let i = 0; i < clone.length; i ++) {
                        let el = '<div class="' + sizeArray[i] + '" style="' + styleArray[i] + '"/>',
                            tag = clone.eq(i).wrapAll(el).parent();

                        if(i === 0) pTempJs.changeClass(tag.find('table'), 'list_system', 'list_system2');
                        else        tag.children().css({'height': '235px', 'padding-right': '0px', 'padding-left': '0px'});

                        $this.append(tag);
                    }
                }
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Monitoring<i class=&quot;feather icon-chevron-right&quot; ></i>JVM<i class=&quot;feather icon-chevron-right&quot; ></i>Application')"/>
    <div id="main_contents">
        <div class="row">
            <div class="main_title03 col-xs-12">어플리케이션 JVM [HLIXXX-01]
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle_p border-0"><i class="feather icon-file-text"></i></button>
                </div>
                <!--#### [수정 2020-07-21] 시작 #######-->
                <!-- 드롭박스 시작 -->
                <div class="dropdown d_ib f_r">
                    <button class="list_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        All Namespace <i class="feather icon-chevron-down form-control-feedback  search_topbar_i" ></i></span>
                    </button>
                    <ul class="dropdown-menu shadow animated--grow-in" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <!-- 드롭박스 끝 -->
                <!-- search 박스 시작 -->
                <div class="dropdown d_ib f_r mr_5">
                    <div class="form-group has-feedback d_ib">
                        <input type="text" placeholder="Search" class="search_table">
                        <i class="feather icon-search form-control-feedback search_topbar_i" ></i>
                    </div>
                </div>
                <!-- search 박스 끝 -->
                <!--#### [수정 2020-07-21] 끝 ########-->
            </div>
        </div>
        <div class="row append">
            <div class="col-xs-12 col-md-12 col-lg-3"  style="padding-top:20px; padding-right:0px;">
                <div class="col-xs-12 box1">
                    <div class="title">Uptime</div>
                    <div class="b_txt_green text-center">1<span class="b_sstxt2">day</span></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3"  style="padding-top:20px; padding-right:0px;">
                <div class="col-xs-12 box1">
                    <div class="title">Start time</div>
                    <div class="b_sstxt2 text-center">2020-05-20<br/>12:22:03</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3"  style="padding-top:20px; padding-right:0px;">
                <div class="col-xs-12 box_chart">
                    <div class="title">Heap Used</div>
                    <div class="b_chart text-center">35<span class="b_sstxt2">%</span></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3" style="padding-top:20px; padding-right:0px;">
                <div class="col-xs-12 box1">
                    <div class="title">JVM Version</div>
                    <div class="b_sstxt1 text-center" style="padding:30px 0 27px 0;">1.8.0-XXX</div>
                </div>
            </div>
        </div>

        <!-- [보험코어 JVM Inspector] start -->
        <div class="row">
            <div class="main_title col-xs-12"><i class="feather icon-chevrons-right"></i> 보험코어 JVM Inspector</div>
        </div>
        <div class="row row_scroll"  style="padding-bottom:0px;">
            <div class="row append" style="padding-bottom:0px;">
                <div class="col-xs-12 col-md-12 col-lg-6" style="padding-right:0px; padding-bottom:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">JVM CPU Usage (%)</div>
                        <div class="box_panel-body" >
                            <img th:src="@{/assets/img/chart6.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6" style="padding-right:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">Transation (count)</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart5.jpg}" class="img-responsive" alt="" style="width:100%; ">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row append" style="padding-bottom:0px;">
                <div class="col-xs-12 col-md-12 col-lg-3" style="padding-right:0px; padding-bottom:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">Heap Used [Memory bytes]</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart4.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3" style="padding-right:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">Non Heap Usage [Memory bytes]</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart3.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3" style="padding-right:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">PS Dden [Memory bytes]</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart2.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3" style="padding-right:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">PS Old Gen [Memory bytes]</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart1.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row append" style="padding-bottom:0px;">
                <div class="col-xs-12 col-md-12 col-lg-6" style="padding-right:0px; padding-bottom:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">Thread used</div>
                        <div class="box_panel-body" >
                            <img th:src="@{/assets/img/chart5.jpg}" class="img-responsive" alt="" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6" style="padding-right:0px;">
                    <div class="box_panel">
                        <div class="box_panel-heading">GC Count</div>
                        <div class="box_panel-body">
                            <img th:src="@{/assets/img/chart6.jpg}" class="img-responsive" alt="" style="width:100%; ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [보험코어 JVM Inspector] END -->


        <!-- [EVENT] start -->
        <div class="row">
            <div class="main_title col-xs-12"><i class="feather icon-chevrons-right"></i> Event</div>
        </div>
        <div class="row append">
            <div class="col-xs-12 col-md-12 col-lg-7" style="padding-right:0px;">
                <div class="box_panel">
                    <div class="box_panel-heading2"><div class="circle c_normal"></div>Normal&nbsp;&nbsp;&nbsp;&nbsp;<div class="circle c_warning"></div>Warning&nbsp;&nbsp;&nbsp;&nbsp;<div class="circle c_danger"></div>Danger</div>
                    <div class="box_table-body">
                        <table class="list_system2">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Time</th>
                                <th style="padding-right:20px;">Level</th>
                                <th>Closed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>System Architect</td>
                                <td>2020-03-24   12:34:05</td>
                                <td><div class="circle c_normal"></div></td>
                                <td><div class="radio_new figure ">
                                    <input type="radio" name="ex_rds" id="ex_rd"  checked><label for="ex_rd"> Yes</label>&nbsp;&nbsp;
                                    <input type="radio" name="ex_rds" id="ex_rd1"><label for="ex_rd1"> No</label>
                                </div>
                            </tr>
                            <tr>
                                <td>System Architect</td>
                                <td>2020-03-24   12:34:05</td>
                                <td><div class="circle c_warning"></div></td>
                                <td><div class="radio_new figure">
                                    <input type="radio" name="ex_rds2" id="ex_rd2" checked><label for="ex_rd2"> Yes</label>&nbsp;&nbsp;
                                    <input type="radio" name="ex_rds2" id="ex_rd3"><label for="ex_rd3"> No</label>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>System Architect</td>
                                <td>2020-03-24   12:34:05</td>
                                <td><div class="circle c_normal"></div></td>
                                <td><div class="radio_new figure ">
                                    <input type="radio" name="ex_rds3" id="ex_rd4"  checked><label for="ex_rd4"> Yes</label>&nbsp;&nbsp;
                                    <input type="radio" name="ex_rds3" id="ex_rd5"><label for="ex_rd5"> No</label>
                                </div>
                            </tr>
                            <tr>
                                <td>System Architect</td>
                                <td>2020-03-24   12:34:05</td>
                                <td><div class="circle c_normal"></div></td>
                                <td><div class="radio_new figure ">
                                    <input type="radio" name="ex_rds4" id="ex_rd6"  checked><label for="ex_rd6"> Yes</label>&nbsp;&nbsp;
                                    <input type="radio" name="ex_rds4" id="ex_rd7"><label for="ex_rd7"> No</label>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-5" style="padding-right:0px; padding-bottom:10px;">
                <div class="box_panel col-xs-12" style="height:235px; padding-right:0px; padding-left:0px;">
                    <div class="box_panel-body">
                        내용이 들어갑니다.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>