<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Container<i class=&quot;feather icon-chevron-right&quot; ></i>Network<i class=&quot;feather icon-chevron-right&quot; ></i>Services')"/>
    <div id="main_contents">

        <div class="row">
            <div class="main_title_top col-xs-12 mb_0" style="padding-right:0px;"><i class="feather icon-chevrons-right"></i> 클러스터 Services
                <!--#### [수정 2020-07-21] 시작 #######-->
                <!-- 드롭박스 시작 -->
                <div class="dropdown d_ib f_r">
                    <button class="list_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        All Namespace <i class="feather icon-chevron-down form-control-feedback  search_topbar_i" ></i></span>
                    </button>
                    <ul class="dropdown-menu shadow animated--grow-in" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <!-- 드롭박스 끝 -->
                <!-- search 박스 시작 -->
                <div class="dropdown d_ib f_r mr_5">
                    <div class="form-group has-feedback d_ib">
                        <input type="text" placeholder="Search" class="search_table">
                        <i class="feather icon-search form-control-feedback search_topbar_i" ></i>
                    </div>
                </div>
                <!-- search 박스 끝 -->
                <!--#### [수정 2020-07-21] 끝 ########-->
            </div>
        </div>


        <div class="col-xs-12" style="padding-right:0px; padding-left:10px;">
            <div class="box_panel">
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Type</th>
                            <th>Cluster IP</th>
                            <th>Ports</th>
                            <th>External IP</th>
                            <th>Seletor</th>
                            <th>Age</th>
                            <th>Staus</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Kube-dns</td>
                            <td><a  href="" class="table2-link" data-toggle="modal" data-target="#myModal">Kube-system</a>

                                <!-- [Modal] start -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-lg"style="width:765px;">
                                        <div class="modal-content">
                                            <div class="modal-title_box">
                                                <div class="modal-title">
                                                    <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <span id="myModalLabel">Service : Service 명</span>
                                                </div>
                                            </div>
                                            <div class="modal-nbody row_scroll">
                                                <div class="table-title">
                                                    Overview
                                                </div>
                                                <table class="table-nt">
                                                    <tr>
                                                        <th>Ctrated</th>
                                                        <td>24일 15시 32분 (2020-05-24 15:32:08)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Name</th>
                                                        <td>Kube-dns</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Namespace</th>
                                                        <td>kube-system</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Labels</th>
                                                        <td><span class="madal_label"> Kube-dns</span> <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Annotations</th>
                                                        <td><span class="madal_label"> service/port=9999</span> <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Selector</th>
                                                        <td><span class="madal_label"> K8s-app=myAPP</span> <span class="madal_label">&nbsp;&nbsp;///&nbsp;&nbsp;</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Type</th>
                                                        <td>ClusterIP</td>
                                                    </tr>
                                                </table>

                                                <div class="table-title">
                                                    Connention
                                                </div>
                                                <table class="table-nt">
                                                    <tr>
                                                        <th>Cluster IP</th>
                                                        <td>000.000.000.000</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ports</th>
                                                        <td>000/UDP, 000/TCP</td>
                                                    </tr>
                                                </table>

                                                <div class="table-title">
                                                    Endpoint
                                                </div>
                                                <table class="table-nt">
                                                    <tr>
                                                        <th>Name</th>
                                                        <td>kube-dns</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Endpoints</th>
                                                        <td>000.000.000.000, 000.000.000.000, 000.000.000.000</td>
                                                    </tr>
                                                </table>

                                                <div class="table-title">
                                                    Events
                                                </div>
                                                <table class="list_mtable_100">
                                                    <thead>
                                                    <tr>
                                                        <th>Event</th>
                                                        <th>Source</th>
                                                        <th>Count</th>
                                                        <th>Sub-Object</th>
                                                        <th>Last</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Event Message</td>
                                                        <td>///</td>
                                                        <td>00</td>
                                                        <td>Object-name</td>
                                                        <td>2020-05-22 12:41:05</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Event Message</td>
                                                        <td>///</td>
                                                        <td>00</td>
                                                        <td>Object-name</td>
                                                        <td>2020-05-22 12:41:05</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Event Message</td>
                                                        <td>///</td>
                                                        <td>00</td>
                                                        <td>Object-name</td>
                                                        <td>2020-05-22 12:41:05</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Event Message</td>
                                                        <td>///</td>
                                                        <td>00</td>
                                                        <td>Object-name</td>
                                                        <td>2020-05-22 12:41:05</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Event Message</td>
                                                        <td>///</td>
                                                        <td>00</td>
                                                        <td>Object-name</td>
                                                        <td>2020-05-22 12:41:05</td>
                                                    </tr>
                                                    <tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [Modal] End -->
                            </td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        <tr>
                            <td>Kube-dns</td>
                            <td>Kube-system</td>
                            <td>ClusterIP</td>
                            <td>000,000,000,000</td>
                            <td>8080/TCP</td>
                            <td>000,000,000,000</td>
                            <td><span class="madal_label">K8s-app=myApp</span> </td>
                            <td>99d24h</td>
                            <td><span class="madal_label_active">Active</span> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>