<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}" class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}" th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}" th:value="${value?.name}" th:text="${value?.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(services) ? '0' : services.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Type</th>
                                <th>Cluster IP</th>
                                <th>Ports</th>
                                <th>External IP</th>
                                <th>Selector</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(services)}">
                                <td colspan="8" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(services)}" th:each="service : ${services}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer; text-decoration: underline;" th:attr="data-namespace=${service?.namespace}, data-name=${service?.name}" th:utext="${service?.name}"></a>
                                </td>
                                <td th:text="${service?.namespace}"></td>
                                <td th:text="${service?.type}"></td>
                                <td th:text="${service?.clusterIp}"></td>
                                <td th:text="${service?.ports}"></td>
                                <td th:text="${service?.externalIp}"></td>
                                <td>
                                    <div class="row" th:each="select : ${service?.selector}">
                                        <span class="madal_label" th:if="${#strings.contains(select,',')}" th:text="${#strings.length(#strings.arraySplit(select,',')[0])}>30? |${#strings.arraySplit(select,',')[0]}...| : |${#strings.arraySplit(select,',')[0]}...|"></span>
                                        <span class="madal_label" th:unless="${#strings.contains(select,',')}" th:text="${#strings.length(select)}>30 ? |${select}...| : ${select}"></span>
                                    </div>
                                </td>
                                <td th:text="${service?.age}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg"style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Service : ${service?.name}|"></span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">Metadata</div>
                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(service?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${service?.name}"></td>
                        </tr>
                        <tr>
                            <th>Namespace</th>
                            <td th:text="${service?.namespace}"></td>
                        </tr>
                        <tr>
                            <th>Labels</th>
                            <td>
                                <div class="row" th:if="${service?.labels}" th:each="entry : ${service?.labels}">
                                    <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                </div>
                                <div th:unless="${service?.labels}">-</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Annotations</th>
                            <td>
                                <div class="row" th:if="${service?.annotations}" th:each="entry : ${service?.annotations}">
                                    <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                </div>
                                <div th:unless="${service?.annotations}">-</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Selector</th>
                            <td>
                                <div class="row" th:each="item : ${service?.selector}">
                                    <span class="madal_label" th:text="|${item.key} : ${item.value}|"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td th:text="${service?.type}"></td>
                        </tr>
                    </table>

                    <div class="table-title">Connection</div>
                    <table class="table-nt">
                        <tr>
                            <th>Cluster IP</th>
                            <td th:text="${service?.clusterIp}"></td>
                        </tr>
                        <tr>
                            <th>Ports</th>
                            <td>
                                <div th:if="${service?.ports}" th:each="port : ${service?.ports}" th:text = "|${port.port}/${port.protocol}|"></div>
                                <div th:unless="${service?.ports}">-</div>
                            </td>
                        </tr>
                    </table>

                    <div class="table-title">Endpoint</div>
                    <table class="table-nt">
                        <div th:if="${service?.endpoints}" th:each = "endpoint : ${service?.endpoints}">
                            <tr>
                                <th>Name</th>
                                <td th:text="${#strings.isEmpty(endpoint.name) ? '-' : endpoint.name}"></td>
                            </tr>
                            <tr>
                                <th>Endpoints</th>
                                <td th:text="${#strings.isEmpty(endpoint.endpoints) ? '-' : endpoint.endpoints}"></td>
                            </tr>
                        </div>
                    </table>

                    <div class="table-title">Events</div>
                    <table class="list_mtable_100">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Source</th>
                                <th>Count</th>
                                <th>Sub-Object</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(service?.events)}">
                                <td colspan="5" class="text-center">No events</td>
                            </tr>
                            <tr th:if="${service?.events}" th:each="event : ${service?.events}">
                                <td th:text="${event?.type}"></td>
                                <td th:text="${event?.source}"></td>
                                <td th:text="${#numbers.formatInteger(event?.count, 0, 'COMMA')}"></td>
                                <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}"></td>
                                <td th:text="${event?.lastSeen}"></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const linkUrl= [[${link}]];
        const pathPrefix = '/cluster/network/services/namespace/';
        /*]]>*/

        $(document).ready(function() {
            $(document).on('change', '#namespace', function() {
                kube.reloadList(linkUrl.replace('{namespace}', $.trim($(this).val())));
            });

            $(document).on('click', 'a.table2-link', function() {
                kube.showModal(pathPrefix + $(this).data('namespace') + '/service/' + $(this).data('name'));
            });
        });
    </script>
</div>
</body>
</html>