<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="page-row-header(title)">
        <div th:if="${#strings.isEmpty(title)}" class="main_title col-xs-12">
        </div>
        <div th:unless="${#strings.isEmpty(title)}" class="main_title col-xs-12">
            <i class="feather icon-chevrons-right"></i> [[${title}]]
        </div>
    </th:block>

    <th:block th:fragment="page-row-variable-header(variables)">
        <div class="main_title03">
            <div class="f_r">
                <div th:each="variable : ${variables}" class="dropdown d_ib">
                    <select th:name="|var-${variable?.name}|" th:id="|var-${variable?.name}|"
                            th:disabled="${variable?.values == null ? 'true' : 'false'}" class="custom-select">
                        <option value="" selected disabled hidden> -- select variable -- </option>
                        <option th:each="value : ${variable?.values}"
                                th:value="${variable}" th:text="${value}" value="">value</option>
                    </select>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="value-card-panel(panel)">
        <div class="col-md-12 col-lg-15">
            <div class="box1">
                <div th:text="${panel?.title}" class="title">VM</div>
                <div th:id="|container-${panel?.panelId}|" class="b_txt text-center">102</div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-3-value-card-panel(panel)">
        <div class="col-md-12 col-lg-3" >
            <div class="box1">
                <div th:text="${panel?.title}" class="title">VM</div>
                <div style="font-size:2em;" th:id="|container-${panel?.panelId}|" class="b_txt text-center">102</div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-4-value-card-panel(panel)">
        <div class="col-md-12 col-lg-4" >
            <div class="box1">
                <div th:text="${panel?.title}" class="title">VM</div>
                <div style="font-size:2em;" th:id="|container-${panel?.panelId}|" class="b_txt text-center">102</div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="headless-card-panel(panel)">
        <div class="col-md-12 col-lg-15">
            <figure class="highcharts-figure">
                <div th:id="|container-${panel?.panelId}|"
                     class="chart-container box_panel" style="min-height: 160px; max-height: 130px;"></div>
            </figure>
        </div>
    </th:block>

    <th:block th:fragment="full-headless-card-panel(panel)">
        <div class="col-md-12 col-lg-12">
            <figure class="highcharts-figure">
                <div th:id="|container-${panel?.panelId}|"
                     class="chart-container box_panel" style="min-height: 160px; max-height: 130px;"></div>
            </figure>
        </div>
    </th:block>

    <th:block th:fragment="col-3-headless-card-panel(panel)">
        <div class="col-md-12 col-lg-3">
            <figure class="highcharts-figure">
                <div th:id="|container-${panel?.panelId}|"
                     class="chart-container box_panel" style="height: 122px;"></div>
            </figure>
        </div>
    </th:block>

    <th:block th:fragment="head-card-panel(panel)">
        <div class="col-md-12 col-lg-3" style="padding-right:0px; padding-bottom:0px;">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" style="height:300px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="full-head-card-panel(panel)">
        <div class="col-md-12 col-lg-12" style="padding-right:0px; padding-bottom:0px;">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" style="height:300px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-odd-head-card-panel(panel)">
        <div class="col-md-12 col-lg-15" style="padding-right:0px; padding-bottom:0px;">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" style="height:300px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-2-head-card-panel(panel)">
        <div class="col-md-12 col-lg-2" style="padding-right:0px; padding-bottom:0px;">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" style="height:300px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-6-head-card-panel(panel)">
        <div class="col-md-12 col-lg-6" style="padding-right:0px; padding-bottom:0px;">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" style="height:300px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="head-card-panel-in-table(panel)">
        <div class="col-md-12 col-lg-3">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div class="box_panel-body" style="min-height: 300px;">
                    <table th:id="|container-${panel?.panelId}|"
                           class="list_table">
                    </table>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="col-6-head-card-panel-in-table(panel)">
        <div class="col-md-12 col-lg-6">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div class="box_panel-body" style="min-height: 300px;">
                    <table th:id="|container-${panel?.panelId}|"
                           class="list_table">
                    </table>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="head-app-card-panel-in-table(panel)">
        <div class="col-md-12 col-lg-12">
            <div class="box_chart2">
                <div th:text="${panel?.title}" class="title_chart">Panel Title</div>
                <div th:id="|container-${panel?.panelId}|" class="list_table" style="min-height: 125px;"></div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="full-head-card-panel-in-table(panel)">
        <div class="col-md-12 col-lg-12">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div class="box_panel-body" style="min-height: 300px;">
                    <table th:id="|container-${panel?.panelId}|"
                           class="list_table">
                    </table>
                </div>
            </div>
        </div>
    </th:block>


    <th:block th:fragment="full-head-card-panel-in-table-modal(panel)">
        <div class="col-md-12 col-lg-12">
            <div class="box_panel">
                <div class="box_panel-heading" th:text="${panel?.title}">Panel Title</div>
                <div class="box_panel-body" style="min-height: 300px;">
                    <table th:id="|container-${panel?.panelId}|"
                           class="list_table235">
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        </div>
    </th:block>

    <th:block th:fragment="head-card-db-dummy(dbPanel, index)">
        <div class="col-xs-12 col-md-12 col-lg-4" style=" padding-right:0px;">
            <div class="col-xs-12 box1_pb15">
                <div th:each="dbNode : ${dbPanel}">
                    <th:block th:if="${dbNode.title} == 'Available Node'">
                        <div class="row col-xs-6" style="padding-left:0px; padding-right:5px;">
                            <div class="title col-xs-12" th:text="|RAC Node #${index}|"></div>
                        </div>
                        <div class="row col-xs-6" style="padding-left:5px; padding-right:0px; height: 100px;">
                            <div th:id="|container-${dbNode?.panelId}|"></div>
                        </div>
                    </th:block>
                    <th:block th:if="${dbNode.title} == 'CPU'">
                        <div class="row col-xs-6" style="padding-left:0px; padding-right:5px;">
                            <div class="col-xs-12">
                                <figure class="highcharts-figure">
                                    <div th:id="|container-${dbNode?.panelId}|"
                                         class="chart-container box_panel" style="min-height: 170px; max-height: 140px;"></div>
                                </figure>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${dbNode.title} == 'Memory'">
                        <div class="row col-xs-6" style="padding-left:5px; padding-right:0px;">
                            <div class="col-xs-12">
                                <figure class="highcharts-figure">
                                    <div th:id="|container-${dbNode?.panelId}|"
                                         class="chart-container box_panel" style="min-height: 170px; max-height: 140px;"></div>
                                </figure>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="head-card-app-dummy(appPanel, index)">
        <!-- [card view] 1(5ea) start-->
        <div class="col-md-12 col-lg-3">
            <!--card view start -->
            <div class="box_panel" >
                <div class="row">
                    <div th:each="appNode, order : ${appPanel}">
                        <th:block th:if="${order.count} == 1">
                            <div class="row  mb_5" >
                                <div class="box_panel-stitle" style="color: #f37320" th:text="${appNode.title}">통합고객관리<span class="box_panel-sstext"></span></div><!-- box name -->
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Application Status'">
                            <div class="row pt-5 col-xs-4">
                                <div th:id="|container-${appNode?.panelId}|"></div>
    <!--                            <div class="box_middle_g">정상</div>-->
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Application Transaction'">
                            <div class="row pt-5 col-xs-8">
                                <figure class="highcharts-figure">
                                    <div th:id="|container-${appNode?.panelId}|" class="box_middle_d point"></div>
                                </figure>
    <!--                            <div class="box_middle_d">Today <span class="point">2,304,040</span></div>-->
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Application POD'">
                            <div class="row" style="height: 1px"></div>
                            <div class="col-xs-4" >
                                <div class="col-xs-12 box_chart4" >
                                    <div class="txt fb">Container</div>
                                    <div class="stxt text-center mb_20">00/00/00</div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'CPU'">
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <figure class="highcharts-figure">
                                        <div th:id="|container-${appNode?.panelId}|"
                                             class="chart-container box_panel" style="min-height: 110px; max-height: 90px;"></div>
                                    </figure>
    <!--                                <div class="txt text-center">CPU</div>-->
    <!--                                <div class="t_chart_md text-center  mt_10">00%</div>-->
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Memory'">
                            <div class="col-xs-4" >
                                <div class="col-xs-12">
                                    <figure class="highcharts-figure">
                                        <div th:id="|container-${appNode?.panelId}|"
                                             class="chart-container box_panel" style="min-height: 110px; max-height: 90px;"></div>
                                    </figure>
    <!--                                <div class="txt text-center">Memory</div>-->
    <!--                                <div class="t_chart_md text-center mt_10">00%</div>-->
                                </div>
                            </div>
                            <!--                            </div>-->
                        </th:block>
                    </div>
                </div>
                <!--내용열림 시작 -->
                <input type="checkbox" name="accordion" th:id="|answer${index}|">
                <label th:for="|answer${index}|"><em></em></label>
                <div class="row">
                    <div th:each="appNode, order : ${appPanel}">
                        <th:block th:if="${appNode.title} == 'Application histogram'">
                            <div class="col-xs-7 col-lg-7">
                                <div class="box_panel">
                                    <div class="box_panel-text3">응답시간 히스토그램</div>
                                    <figure class="highcharts-figure">
                                        <div th:id="|container-${appNode?.panelId}|"
                                             class="chart-container box_panel" style="min-height: 100px;"></div>
                                    </figure>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Application avg. response time'">
                            <div class="col-xs-5 col-lg-5 box_chart2 mb_10">
                                <div class="txt text-center">평균 응답시간</div>
                                <div th:id="|container-${appNode?.panelId}|" class="t_chart_md text-center"></div>
                            </div>
                        </th:block>
                        <th:block th:if="${appNode.title} == 'Application error count'">
                            <div class="col-xs-5 col-lg-5 box_chart_red">
                                <div class="txt text-center">Error Count</div>
                                <div th:id="|container-${appNode?.panelId}|" class="t_chart_md text-center"></div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!--내용열림 끝-->
                <!--card view end -->
            </div>
        </div>
    </th:block>

    <th:block th:fragment="box-chart-panel(panel)">
        <figure class="highcharts-figure">
            <div th:id="|container-${panel?.panelId}|"
                 class="chart-container box_panel" style="height: 107px;"></div>
        </figure>
    </th:block>

    <th:block th:fragment="head-charts-panel(panel)">
        <div class="col-md-12 col-lg-3">
            <div class="box_panel">
                <div th:text="${panel?.title}" class="box_panel-heading1">VM</div>
                <div style="font-size:2em; min-height: 178px;" th:id="|container-${panel?.panelId}|" class="b_txt text-center">102</div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="count-card-panel(panel)">
        <div class="col-xs-12 col-md-15 col-lg-2">
            <div class="box_panel">
                <div th:text="${panel?.title}" class="box_panel-heading1">Event</div>
                <div th:id="|container-${panel?.panelId}|" class="box_panel-text4">
                    15
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="count-card-sets-panel(panel)">
        <div class="col-xs-12 col-md-15 col-lg-2">
            <div class="box_panel">
                <div class="box_panel-heading1" th:text="${panel?.title}">Node</div>
                <th:block th:if="${panel?.panelType} == 'UP/DOWN'">
                    <div class="box_panel-text4">
                        <div class="box_big_g mb_7 mt_6 w70" th:id="|container-${panel?.panelId}|">UP</div>
                    </div>
                </th:block>
                <th:block th:unless="${panel?.panelType} == 'UP/DOWN'">
                    <div class="box_panel-text4">
                        <span th:id="|container-${panel?.panelId}|" class="color_g">21</span><span th:id="|container--${panel?.panelId}|" class="st"> / 55</span>
                    </div>
                </th:block>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="mini-table-panel(panel)">
        <div class="col-lg-7">
            <div class="col-xs-12 box1_p10" style="min-height: 350px;">
                <div class="row col-xs-12">
                    <div class="title_chart_c col-xs-12" th:text="${panel?.title}">보험코어 어플리케이션</div>
                </div>
                <div class="row col-xs-12">
                    <table class="table_mini" th:id="|container-${panel?.panelId}|" style="min-height: 290px;"></table>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="dashboard-table-panel(panel)">
        <div class="box_panel">
            <!--            <div class="box_panel-heading2" th:text="${panel?.title}"><div class="circle c_normal"></div>Normal&nbsp;&nbsp;&nbsp;&nbsp;<div class="circle c_warning"></div>Warning&nbsp;&nbsp;&nbsp;&nbsp;<div class="circle c_danger"></div>Danger</div>-->
            <div class="box_panel-heading" th:text="${panel?.title}">
                <div class="box_table-body">
                    <table class="list_system" th:id="|container-${panel?.panelId}|">
                        <thead>
                        <tr>
                            <th>Alarm명</th>
                            <th>Message</th>
                            <th>Severity</th>
                            <th>Category</th>
                            <th>System</th>
                            <th>Time</th>
                            <th>Check</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>CPU High</td>
                            <td>HLI1000 CPU 80%</td>
                            <td><div class="circle c_normal"></div></td>
                            <td>VM</td>
                            <td>HLI1000</td>
                            <td>2020-03-24   12:34:05</td>
                            <td><button class="btn btn-md btn-outline-white"> Check</button></td>
                        </tr>
                        <tr>
                            <td>CPU High</td>
                            <td>HLI1000 CPU 80%</td>
                            <td><div class="circle c_warning"></div></td>
                            <td>VM</td>
                            <td>HLI1000</td>
                            <td>2020-03-24   12:34:05</td>
                            <td><button class="btn btn-md btn-outline-white"><i class="feather icon-check-circle"></i> 확 인</button></td>
                        </tr>
                        <tr>
                            <td>CPU High</td>
                            <td>HLI1000 CPU 80%</td>
                            <td><div class="circle c_danger"></div></td>
                            <td>VM</td>
                            <td>HLI1000</td>
                            <td>2020-03-24   12:34:05</td>
                            <td><button class="btn btn-md btn-outline-white"><i class="feather icon-file-text"></i> Check</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>

</body>
</html>