<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Application<i class=&quot;feather icon-chevron-right&quot; ></i>Catalog<i class=&quot;feather icon-chevron-right&quot; ></i>Application List')"/>
    <div id="main_contents">

        <!-- [Catalog - 업무] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 mb_0  pr_0" ><i class="feather icon-chevrons-right"></i> Catalog - 업무
                <div class="f_r">
                    <div class=" d_ib">
                        <div class="form-group has-feedback d_ib">
                            <input type="text" placeholder="Search" class="search_table">
                            <i class="feather icon-search form-control-feedback search_topbar_i" ></i>
                        </div>
                    </div>
                    <div class="dropdown d_ib">
                        <select id="multi-select-box">
                            <option value="통합관리환경 admin">통합관리환경 admin</option>
                            <option value="보험코어 monitor">보험코어 monitor</option>
                            <option value="Cluster monitor">Cluster monitor</option>
                            <option value="Cluster log viewer">Cluster log viewer</option>
                            <option value="On-premise monitor">On-premise monitor</option>
                            <option value="Cluster admin">Cluster admin</option>
                            <option value="Dashboard operator">Dashboard operator</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        고객관리 공통
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href="" class="table2-link" data-toggle="modal" data-target="#myModal"><img th:src="@{/assets/img/client.jpg}" class="img-responsive img-rounded"  alt="client"></a>

                        <!-- [Modal] start -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                            <div class="modal-dialog modal-lg" style="width:765px;">
                                <div class="modal-content">
                                    <div class="modal-title_box">
                                        <div class="modal-title">
                                            <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <span id="myModalLabel">Description : APP명</span>
                                        </div>
                                    </div>
                                    <div class="modal-nbody row_scroll">
                                        <div class="table-title">
                                            Overview
                                        </div>
                                        <div class="row">
                                            <table class="table-nt">
                                                <tr>
                                                    <th>논리명</th>
                                                    <td>고객관리공통 어플리케이션</td>
                                                </tr>
                                                <tr>
                                                    <th>물리명</th>
                                                    <td>HLI_APP_CUSTOMER_MGNT</td>
                                                </tr>
                                                <tr>
                                                    <th>설명</th>
                                                    <td>고객관리 공통 어플리케이션은 고객 마스터 원장을 관리하며, 고객정보에 대한 Single View를 제공하고 전사 채널에서 발생하는 고객 접촉 이력을 통합한다. </td>
                                                </tr>
                                                <tr>
                                                    <th>담당자</th>
                                                    <td>홍길동</td>
                                                </tr>
                                                <tr>
                                                    <th>현재버전</th>
                                                    <td>V2.1.4</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="table-title">
                                            Configuration
                                        </div>
                                        <div class="row">
                                            <table class="list_mtable">
                                                <thead>
                                                <tr>
                                                    <th>Parameter</th>
                                                    <th>Descrition</th>
                                                    <th>Default</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>name</td>
                                                    <td>name of deployment</td>
                                                    <td>CUSTOMER</td>
                                                </tr>
                                                <tr>
                                                    <td>replicaCount</td>
                                                    <td>Number of operator replicas</td>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <td>image.repository</td>
                                                    <td>container image</td>
                                                    <td>hli/customer</td>
                                                </tr>
                                                <tr>
                                                    <td>image.pullPolicy</td>
                                                    <td>container image pull policy</td>
                                                    <td>always</td>
                                                </tr>
                                                <tr>
                                                    <td>rbac.create</td>
                                                    <td>install SA</td>
                                                    <td>true</td>
                                                </tr>
                                                <tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [Modal] End -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        상품공통
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/product.jpg}" class="img-responsive img-rounded"  alt="product"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        계약공통
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/contract.jpg}" class="img-responsive img-rounded"  alt="contract"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15 col-lg-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        입출금공통
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/statement.jpg}" class="img-responsive img-rounded"  alt="statement"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        회계공통
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/accounting.jpg}" class="img-responsive img-rounded"  alt="accounting"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- [Catalog - 업무] End-->

        <!-- [Catalog - 인프라] start -->
        <div class="row">
            <div class="main_title" ><i class="feather icon-chevrons-right"></i> Catalog - 인프라</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        kafka
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/kafka.jpg}" class="img-responsive img-rounded"  alt="kafka"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        fluentd
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/fluentd.jpg}" class="img-responsive img-rounded"  alt="fluentd"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        mySql
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/mySql.jpg}" class="img-responsive img-rounded"  alt="mySql"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15 col-lg-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        redis
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/redis.jpg}" class="img-responsive img-rounded"  alt="redis"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        prometheus
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/prometheus.jpg}" class="img-responsive img-rounded"  alt="prometheus"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- [Catalog - 인프라] End-->

        <!-- [Catalog - 보안] start -->
        <div class="row">
            <div class="main_title" ><i class="feather icon-chevrons-right"></i> Catalog - 보안</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-15">
                <div class="box_panel">
                    <div class="box_panel-heading">
                        감사
                    </div>
                    <div class="box_table-body text-center catalog_img">
                        <a href=""><img th:src="@{/assets/img/check.jpg}" class="img-responsive img-rounded"  alt="check"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- [Catalog - 보안] End-->
    </div>

</div>
</body>
</html>