<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>NCP계정관리<i class=&quot;feather icon-chevron-right&quot; ></i>Authorization')"/>
    <div id="main_contents">

        <!-- [NCP 사용자 접근 승인 관리] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 pr_0" ><i class="feather icon-chevrons-right"></i> NCP 사용자 접근 승인 관리

                <div class="dropdown d_ib f_r">
                    <button class="btn btn-md btn-outline-white"><i class="feather icon-check"></i> 승인</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>사용자 ID</th>
                            <th>사용자 이름</th>
                            <th>그룹</th>
                            <th>역할</th>
                            <th>요청일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div class="checkbox"><input type="checkbox" value="" ></div></td>
                            <td>testuser</td>
                            <td>홍길동</td>
                            <td>Operator</td>
                            <td>NCP_Console_Server</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"><input type="checkbox" value="" ></div></td>
                            <td>testuser</td>
                            <td>홍길동</td>
                            <td>Operator</td>
                            <td>NCP_Console_Server</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"><input type="checkbox" value="" ></div></td>
                            <td>testuser</td>
                            <td>홍길동</td>
                            <td>Operator</td>
                            <td>NCP_Console_Server</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [NCP 사용자 접근 승인 관리] End-->

        <!-- ######### [승인후 나타나는 DIV] 시작 -->
        <div>
            <!-- [NCP Sub Account 생성 API : POST/sub-account] Start-->
            <div class="row">
                <div class="main_stitle col-xs-12" ><i class="feather icon-corner-down-right"></i> NCP Sub Account 생성 API : POST/sub-account</div>
            </div>
            <div class="row">
                <div class="box_panel">
                    <div class="box_table-body">
                        <table class="NCP_table">
                            <thead>
                            <tr>
                                <th>파라미터</th>
                                <th>필수여부</th>
                                <th>타입</th>
                                <th>설명</th>
                                <th>기본값</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>active</td>
                                <td>Y</td>
                                <td>boolean</td>
                                <td>Sub account 상태 (true:활성, false:비활성)</td>
                                <td>true</td>
                            </tr>
                            <tr>
                                <td>canAPIGatewayAccess</td>
                                <td>Y</td>
                                <td>boolean</td>
                                <td>Access Key를 생성하여 해당 키로 API Gateway에 등록된 API를 사용할 수 있음</td>
                                <td>false</td>
                            </tr>
                            <tr>
                                <td>canConsoleAccess</td>
                                <td>Y</td>
                                <td>boolean</td>
                                <td>서브 계정이 관리 콘솔에 접근할 수있도록 설정</td>
                                <td>true</td>
                            </tr>
                            <tr>
                                <td>consolePermitIps</td>
                                <td>N</td>
                                <td>array</td>
                                <td>콘솔 접근 가능한 IP대역 목록</td>
                                <td>Null</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>N</td>
                                <td>String</td>
                                <td>이메일</td>
                                <td>사용자 정보의 이메일 set</td>
                            </tr>
                            <tr>
                                <td>Loginid</td>
                                <td>Y</td>
                                <td>String</td>
                                <td>로그인 아이디</td>
                                <td>사용자 정보의 ID set</td>
                            </tr>
                            <tr>
                                <td>Memo</td>
                                <td>N</td>
                                <td>String</td>
                                <td>메모</td>
                                <td>“통합관리”</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>Y</td>
                                <td>String</td>
                                <td>이름</td>
                                <td>사용자 정보의 성명 set</td>
                            </tr>
                            <tr>
                                <td>needPasswordReset</td>
                                <td>Y</td>
                                <td>boolean</td>
                                <td>비밀번호 재설정 필요여부, True이면 생성된 서브 계정으로 로그인 시 , 새로운 비밀번호 변경하도록 안내</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>Y</td>
                                <td>String</td>
                                <td>비밀번호 (통합관리 사용자 화면의 비밀번호는 일회성)</td>
                                <td>사용자 정보의 비밀번호 set</td>
                            </tr>
                            <tr>
                                <td>useConsolePermitIp</td>
                                <td>N</td>
                                <td>boolean</td>
                                <td>콘솔 접근시 IP대역 제한을 사용할 수 있음</td>
                                <td>false</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [NCP Sub Account 생성 API : POST/sub-account] End-->

            <!-- [NCP Sub Account  접속 페이지 설정 API : PUT/login-alias] Start-->
            <div class="row">
                <div class="main_stitle col-xs-12" ><i class="feather icon-corner-down-right"></i> NCP Sub Account  접속 페이지 설정 API : PUT/login-alias</div>
            </div>
            <div class="row">
                <div class="box_panel">
                    <div class="box_table-body">
                        <table class="NCP_table">
                            <thead>
                            <tr>
                                <th>파라미터</th>
                                <th>필수여부</th>
                                <th>타입</th>
                                <th>설명</th>
                                <th>기본값</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>loginAlias</td>
                                <td>Y</td>
                                <td>Sting</td>
                                <td>접속페이지 URL</td>
                                <td>https://www.ncloud.com/nsa/{loginid}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [NCP Sub Account  접속 페이지 설정 API : PUT/login-alias] End-->

            <!-- [NCP Sub Account  정책할당 API : POST/sub-account/{loginId}/policies] Start-->
            <div class="row">
                <div class="main_stitle col-xs-12" ><i class="feather icon-corner-down-right"></i> NCP Sub Account  정책할당 API : POST/sub-account/{loginId}/policies</div>
            </div>
            <div class="row">
                <div class="box_panel">
                    <div class="box_table-body">
                        <table class="NCP_table">
                            <thead>
                            <tr>
                                <th>파라미터</th>
                                <th>필수여부</th>
                                <th>타입</th>
                                <th>설명</th>
                                <th>기본값</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>policyIdList</td>
                                <td>Y</td>
                                <td>Array</td>
                                <td>접속페이지 URL정책 리스트</td>
                                <td>“NCP_SERVER_MANAGER”</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [NCP Sub Account  정책할당 API : POST/sub-account/{loginId}/policies] End-->

            <!-- [NCP Sub Account  그룹할당 API : POST/sub-account/{loginId}/groups] Start-->
            <div class="row">
                <div class="main_stitle col-xs-12" ><i class="feather icon-corner-down-right"></i> NCP Sub Account  그룹할당 API : POST/sub-account/{loginId}/groups</div>
            </div>
            <div class="row">
                <div class="box_panel">
                    <div class="box_table-body">
                        <table class="NCP_table">
                            <thead>
                            <tr>
                                <th>파라미터</th>
                                <th>필수여부</th>
                                <th>타입</th>
                                <th>설명</th>
                                <th>기본값</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>groupIdList</td>
                                <td>Y</td>
                                <td>Array</td>
                                <td>그룹 리스트</td>
                                <td>“Operator”</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [NCP Sub Account  그룹할당 API : POST/sub-account/{loginId}/groups] End-->
        </div>
        <!-- ######### [승인후 나타나는 DIV] 끝 -->

    </div>

</div>
</body>
</html>