<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>NCP계정관리<i class=&quot;feather icon-chevron-right&quot; ></i>Policies')"/>
    <div id="main_contents">

        <!-- [Policy] start -->
        <div class="row">
            <div class="main_title_top col-xs-12 pr_0" ><i class="feather icon-chevrons-right"></i> Policy </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span class="point pr_10">3</span>  Page : <span class="point">1</span>/1
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                        <tr>
                            <th>정책명</th>
                            <th>설명</th>
                            <th>적용여부</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a  href="" data-toggle="modal" data-target="#myModal">NCP_SERVER_MANAGER</a>
                                <!-- [Modal] start -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-lg" style="width:765px;">
                                        <div class="modal-content">
                                            <div class="modal-title_box">
                                                <div class="modal-title">
                                                    <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <span id="myModalLabel">Group : Group 명</span>
                                                    <div class="f_r"><button class="btn_save_i feather icon-save"></button></div>
                                                </div>
                                            </div>
                                            <div class="modal-nbody">
                                                <div class="table-title">
                                                    Overview
                                                </div>
                                                <div class="row">
                                                    <table class="table-select">
                                                        <tr>
                                                            <th>정책명</th>
                                                            <td>NCP_SERVER_MANAGER</td>
                                                        </tr>
                                                        <tr>
                                                            <th>설명</th>
                                                            <td><textarea>Server 상품 내 모든 기능을 이용할 수 있는 권한 (Load Balancer, Auto Scaling, Server)</textarea></td>
                                                        </tr>
                                                        <tr>
                                                            <th>적용여부</th>
                                                            <td><div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>적용
                                                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">미적용
                                                                </label>
                                                            </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>최종변경일</th>
                                                            <td colspan="2">24일 15시 32분 (2020-05-24 15:32:08)</td>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [Modal] End -->

                            </td>
                            <td>Server 상품 내 모든 기능을 이용할 수 있는 권한 (Load Balancer, Auto Scaling, Server)</td>
                            <td>적용 / 미적용</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        <tr>
                            <td>NCP_SERVER_MANAGER</td>
                            <td>Server 상품 내 모든 기능을 이용할 수 있는 권한 (Load Balancer, Auto Scaling, Server)</td>
                            <td>적용 / 미적용</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        <tr>
                            <td>NCP_SERVER_MANAGER</td>
                            <td>Server 상품 내 모든 기능을 이용할 수 있는 권한 (Load Balancer, Auto Scaling, Server)</td>
                            <td>적용 / 미적용</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        <tr>
                            <td>NCP_SERVER_MANAGER</td>
                            <td>Server 상품 내 모든 기능을 이용할 수 있는 권한 (Load Balancer, Auto Scaling, Server)</td>
                            <td>적용 / 미적용</td>
                            <td>2020-06-29 14:21:05</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center"><!-- 페이지넘버 -->
            <nav>
                <ul class="pagination" >
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true"  class="feather icon-chevron-left"></span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"  class="feather icon-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- [Policy] End-->
    </div>
</div>
</body>
</html>