<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Monitoring<i class=&quot;feather icon-chevron-right&quot; ></i>Application<i class=&quot;feather icon-chevron-right&quot; ></i>Topologies')"/>
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top"><i class="feather icon-chevrons-right"></i> 보험코어 어플리케이션 Topology</div>
        </div>
        <div class="row">
            <div class="box_panel">
                <div class="box_panel-body">
                    <img th:src="@{/assets/img/kiali.png}" class="img-responsive" alt="" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>