<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>4xx::Forbidden</title>
    <link href="/assets/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body class="bg-light text-dark py-5">
<div class="container py-5">
    <div class="row">
        <div>
            <h1 class="align-top text-danger">
                <i class="fa fa-exclamation-triangle"></i><span>&nbsp;&nbsp;403</span>
            </h1>
            <h3>OPPSSS!!!! Access not granted</h3><br/>
            <h6>Status Code: 403 - Forbidden (T ,. T)</h6><br/>
            <a class="btn btn-warning" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

</body>

</html>