<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>4xx::Not Found</title>
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body class="bg-light text-dark py-5">
<div class="container py-5">
    <div class="row">
        <div>
            <h1 class="align-top text-danger">
                <i class="fa fa-search"></i><span>&nbsp;&nbsp;404</span>
            </h1>
            <h3>OPPSSS!!!! Sorry...</h3><br/>
            <h6>Status Code: 404 - Not Found (T ,. T)</h6><br/>
            <a class="btn btn-warning" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>
</body>
</html>
