<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Dictionary Search update::Internal Server Error</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="bg-light text-dark py-5">
<div class="container py-5">
    <div class="row">
        <div>
            <h1 class="align-top text-danger">
                <i class="fa fa-bug"></i><span>&nbsp;&nbsp;500</span>
            </h1>
            <h3>OPPSSS!!!! Sorry...</h3><br/>
            <h6>Status Code: 500 - Internal Server Error (T ,. T)</h6><br/>
            <a class="btn btn-warning" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

</body>

</html>