<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <link rel="stylesheet" th:href="@{/vendor/highlight/vs2015.min.css}">
    <script th:src="@{/vendor/highlight/highlight.min.js}"></script>
    <script th:src="@{/vendor/highlight/json.min.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>


    <div class="row mx-auto">
        <div class="col-md-4 my-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Grafana Dashboard</div>
                </div>
                <select id="dashboard-select" name="dashboard-select" class="form-control">
                    <option value="" selected disabled hidden> --- dashboard select ---</option>
                    <option th:each="dashboard : ${dashboards}"
                            th:value="${dashboard?.uid}" th:text="${dashboard?.title}">dashboard
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Grafana Dashboard</div>
                </div>
                <select id="panel-select" name="dashboard-select" class="form-control">
                    <option value="" selected disabled hidden> --- panel select ---</option>
                </select>
            </div>
        </div>
    </div>
    <div id="input-area" class="row mx-auto">
    </div>
    <div id="panel-area" class="row mx-auto">
    </div>
    <div class="row mx-auto">
        <div class="col-md my-2">
            <span>Panel 데이터</span>
            <pre>
                <code id="panel-data-area" class="json"></code>
            </pre>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-md my">
            <span>Dashboard 정보</span>
            <pre>
                <code id="dashboard-data-area" class="json">{"test" : "test", "test1" : "test1"}</code>
            </pre>
        </div>
        <script>
            $(function () {
                let panelUrl = new Map();
                let panelQueryMap = new Map();
                let variableMap;
                let dashboardUrl;
                let promUrl;

                const $dashboardSelect = $('#dashboard-select'),
                    $panelSelect = $('#panel-select'),
                    $dashboardDataArea = $('#dashboard-data-area'),
                    $panelDataArea = $('#panel-data-area'),
                    $inputArea = $('#input-area'),
                    $panelArea = $('#panel-area');

                $dashboardSelect.on('change', function (evt) {
                    //console.log($(this).val());
                    if ($(this).val() === '-1')
                        return;

                    $.get("/grafana/dashboards/" + $(this).val())
                        .done(function (data) {
                            $dashboardDataArea.text(JSON.stringify(data, null, '  '));
                            document.querySelectorAll('pre > code').forEach(function (el) {
                                hljs.highlightBlock(el);
                            });
                        })
                        .fail(function () {
                            alert("조회 실패");
                        })
                        .always(function (data) {
                            //console.log(data);
                            dashboardUrl = data.meta.host + data.meta.panel_url;
                            promUrl = data.meta.prom_host;
                            $panelSelect.empty();
                            let panels = data.dashboard.panels;
                            let templating = data.dashboard.templating;

                            panelQueryMap.clear();
                            panelUrl.clear();

                            generateVariable($inputArea, templating);                                   //input-area select-box list
                            generatePanelList($panelSelect, panels);                                    //panel select-box list
                            generatePanel($panelArea, data.meta.host + data.meta.panel_url, panels);    //data panel list
                        });

                    function generateVariable(selector, templateVariable) {
                        selector.text('');
                        variableMap = new Map(Object.entries(templateVariable));

                        //namescpace가 0번이 아닌 map을 뒤집는다.
                        if(variableMap.size > 1){
                            if([...variableMap.keys()][0].match(/namespace/gi) == null) {
                                let reverceMap = new Map();
                                reverceMap = [...variableMap].map(function(obj){
                                    return obj;
                                }).reverse();

                                variableMap.clear();
                                reverceMap.map(function(obj){
                                    variableMap.set(obj[0], obj[1]);
                                });
                            }
                        }

                        for (let [key, varItem] of variableMap) {
                            let select = "<div class=\"col-md-4 my-2\"><div class=\"input-group\"><div class=\"input-group-prepend\"><div class=\"input-group-text\">"
                                //varItem.label이 없는 경우 존재 (ex : Cluster)
                                + (varItem.label === undefined ? varItem.name : varItem.label) + "</div></div>"
                                + "<select id='" + "var-" + key + "' name='" + "var-" + key + "' class='form-control'>";

                            // 프로메테우스 api에서는 item.allValue를 이용해야 함.
                            if (varItem.includeAll)
                                select += getSelectOptionHtml("All");

                            if (Array.isArray(varItem.values) && varItem.values !== null) {
                                for (let value of varItem.values)
                                    select += getSelectOptionHtml(value);
                            }
                            select += "</select>" + "</div></div>";
                            selector.append(select);
                        }
                    }

                    function generatePanelList(selector, panelsData) {
                        panelsData.forEach(function (panel) {
                            if (Array.isArray(panel.panels)) {
                                panel.panels.forEach(function (subPanel) {
                                    $panelSelect.append(getSelectOptionHtml(subPanel.id, subPanel.title));
                                    panelQueryMap.set(subPanel.id, subPanel.targets);
                                });
                                return;
                            }
                            if (panel.type === "row")
                                return;
                            selector.append(getSelectOptionHtml(panel.id, panel.title));
                            panelQueryMap.set(panel.id, panel.targets);
                        });
                    }

                    function generatePanel(selector, panelUrl, panelsData) {
                        //console.log(panelsData);
                        selector.text('');
                        let cardTag = "<div class=\"row\">";
                        let count = 0;
                        panelsData.forEach(function (item) {
                            if (count !== 0 && count % 4 === 0) {
                                cardTag += "</div>";
                                cardTag += "<div class=\"row\">";
                            }

                            if (Array.isArray(item.panels)) {
                                cardTag = getPanelRowHtml(item, cardTag);
                                item.panels.forEach(function (subItem) {
                                    cardTag = getPanelHtml(panelUrl, subItem, cardTag);
                                });
                                count++;
                                return;
                            }

                            if (item.type === "row")
                                cardTag = getPanelRowHtml(item, cardTag);

                            cardTag = getPanelHtml(panelUrl, item, cardTag);
                            count++;
                        });
                        selector.append(cardTag + "</div>");
                    }

                    function getPanelRowHtml(panel, cardTag) {
                        cardTag += "<div class=\"row\"><div class=\"main_title_top col-xs-12\" ><i class=\"feather icon-chevrons-right\"></i>";
                        cardTag += panel.title;
                        cardTag += "</div></div>";
                        return cardTag;
                    }

                    function getPanelHtml(url, panel, cardTag) {
                        cardTag += "<div class=\"col-xs-12 col-md-12 col-lg-3\" style=\"padding-right:0px;\">\n" +
                            "    <div class=\"col-xs-12 box_panel p-2\" style=\"padding:0px;\">\n" +
                            "            <div class=\"embed-responsive embed-responsive-16by9\">";
                        cardTag += "<iframe id=\"" + panel.id + "\" class=\"embed-responsive-item\" src=\"" + url + panel.panel_url + "\" allowfullscreen></iframe>";
                        cardTag += "</div> </div> </div>";

                        panelUrl.set(panel.id, panel.panel_url);
                        return cardTag;
                    }
                });

                $panelSelect.on('change', function (event) {
                    $panelDataArea.text('');
                    let queries = panelQueryMap.get(parseInt($(this).val()));
                    for (let i = 0; i < queries.length; i++) {
                        if (queries[i].hide)
                            continue;

                        let query = queries[i].api_query;
                        let queryVariables = query.match(/\$\w+/g);
                        if (queryVariables !== null) {
                            for (let variable of queryVariables) {
                                const $thisSelector = $('#var-' + variable.replace("$", ""));
                                if ($thisSelector.val() !== undefined && $thisSelector.val() !== null) {
                                    query = query.replace(new RegExp("\\" + variable, "g"), $thisSelector.val());
                                } else {
                                    query = query.replace(new RegExp("\\" + variable, "g"), ".*");
                                }
                            }
                            //console.log(query);
                        }
                        let timestamp = new Date().getTime() / 1000;
                        let url = promUrl + query + "&start=" + (timestamp - 60) + "&end=" + timestamp + "&step=15";
                        //console.log(url);
                        $.get(url)
                            .done(function (data) {
                                //console.log(data);
                                $panelDataArea.text($panelDataArea.text() + JSON.stringify(data, null, '  '));
                                document.querySelectorAll('pre > code').forEach(function (el) {
                                    hljs.highlightBlock(el);
                                });
                            })
                            .fail(function () {
                                alert("조회 실패");
                            })
                            .always(function (data) {
                            });
                    }
                });

                $(document).on("change", "select[name^='var']", function(){
                    const
                        $selectBoxs = $(document).find("select[name^='var']"),
                        $this = $(this),
                        thisSelectedIdx = $this.find('option:selected').index(),
                        lastId = comnJs.replace($("select[name^='var']:last").attr('id'), 'var-', ''),
                        maxSize = $selectBoxs.length - 1,
                        dataMap = [...variableMap].map(function(value){
                            return [value[0], value[1]];
                        });

                    let thisKey = comnJs.replace($this.attr('id'), 'var-', ''),
                        keepGoing = true,
                        key, item;

                    generateAjaxUrl(rtnMap(thisKey, true));

                    //------------function line
                    function generateAjaxUrl(data) {
                        if(!keepGoing)
                            return false;

                        key = data[0];
                        item = data[1];

                        let refFields = item.ref_fields,
                            query = item.api_query;
                        //console.log(key, item);

                        for (let refField of refFields) {
                            let targetValue = $("#var-" + refField).val();
                            if (targetValue === null)
                                break;

                            query = query.replace(new RegExp("\\" + "$" + refField, "g"), targetValue);
                            //console.log(refField, query);

                            if (query.indexOf("$") < 0) {
                                let url = promUrl + "/api/v1/query?query=" + query;
                                let currentTime = new Date().getTime() / 1000;
                                url += `&start=${currentTime - 300}&end=${currentTime}`;
                                //console.log(key + ' url==' + url);

                                let setData = {
                                    url: url,
                                    type: 'get',
                                    done: ajaxDone,
                                    fail: ajaxFail
                                }; //ajax function setting
                                comnJs.ajax(setData); //ajax call
                            }
                        }
                    }

                    function ajaxDone(data) {
                        let results = data.data.result;
                        let dataMap = rtnMap(key, false);
                        //console.log(results, key, item, dataMap, keepGoing);

                        generateSelectList(results);            //select-box grid
                        generateAjaxUrl(dataMap);               //ajax 호출 function
                        if(!keepGoing)
                            reflashPanelList(); //차트 패널의 src를 업데이트해서 다시 호출한다.
                    }

                    function ajaxFail(err) {
                        alert("조회 실패");
                    }

                    function generateSelectList(results){
                        let $thisSelector = $("#var-" + key),
                            metricName = item.api_query_metric_label;

                        //----select box option append
                        $thisSelector.text('');

                        if (item.includeAll)
                            $thisSelector.append(getSelectOptionHtml("All"));
                        for (let result of results)
                            $thisSelector.append(getSelectOptionHtml(result.metric[metricName]));
                        //----select box option append

                        $this.find("option").eq(thisSelectedIdx).attr("selected", true);
                    }

                    function reflashPanelList(){
                        let selectSrc = '';

                        //---make select box option:selected array
                        $selectBoxs.each(function () {
                            if ($(this).val() !== undefined && $(this).val() !== null)
                                selectSrc += "&" + $(this).attr('id') + "=" + $(this).val();
                        });
                        //---make select box option:selected array

                        //--panel reset
                        $(document).find('iframe').map(function(){
                            let panelSrc = dashboardUrl + panelUrl.get(parseInt($(this).attr('id'))) + selectSrc;
                            //console.log(panelSrc);
                            $(this).attr('src', panelSrc);
                        });
                        //--panel reset
                    }

                    //다음 레벨 select box id return
                    function rtnMap(key, boln) {
                        if(key === lastId && !boln)
                            keepGoing = false;

                        let idx = [...dataMap].findIndex((el) => el[0] === key);
                        idx = idx === maxSize ? idx : idx + 1;
                        return [...dataMap][idx];
                    }

                });
            });

            //공용 option html 생성
            function getSelectOptionHtml(value, title) {
                //console.log(value, title);
                return "<option value='" + value + "'>" + (title == undefined ? value : title) + "</option>";
            }
        </script>
    </div>
</div>
</body>
</html>