<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>한화생명 통합관리시스템</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- 기본 -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>
<body style="background: #f4f7fa;">

    <form th:action="@{/login}" method="post">
        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="auth-bg">
                    <span class="r"></span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r" ></span>
                    <span class="r s"></span>
                    <span class="r" ></span>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <i class="feather icon-unlock auth-icon"></i>
                        </div>
                        <div class="tt mb_30">Please sign in</div>
                        <div class=" mb-4">
                            <input id="username" name="username" type="text"
                                   class="form-control"  placeholder="ID" required autofocus>
                        </div>
                        <div class=" mb-5">
                            <input id="password" name="password" type="password"
                                   class="form-control" placeholder="password" required>
                            <p th:if="${param.error}" class="text-danger mt-3">
                                잘못된 아이디이거나 비밀번호입니다.
                            </p>
                        </div>

                        <button class="btn btn-primary mb-5">Login</button>
                        <div style="border-top:1px solid #d6d6d6; padding-top:20px;">
                            <p class="text-dark"><img th:src="@{/assets/img/logo.png}" width="20px"> 한화생명 통합관리시스템</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>