<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})"/>
    <style>
        .application-board-height {
            min-height: 185px;
            max-height: 185px;
        }
    </style>
    <div id="main_contents">
        <div th:each="pageRows : ${page?.rows}">
            <div class="row">
                <th:block th:if="${pageRows?.pageRowId == 32}">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="col-lg-6" style="padding-right: 0px; min-height: 200px;">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block  th:if="${panel?.fragmentName} == 'head-charts-panel'">
                                <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="col-lg-6" style="padding-left: 0px;">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block  th:if="${panel?.fragmentName} == 'count-card-panel' or ${panel?.fragmentName} == 'count-card-sets-panel'">
                                <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
        <div th:each="pageRows : ${page?.rows}">
            <th:block th:if="${pageRows?.pageRowId == 33}">
                <div class="col-lg-4" style="padding-right: 0px;">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="row">
                        <th:block th:if="${pageRows?.pageRowId == 33}">
                            <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                                <th:block  th:if="${panel?.fragmentName} == 'mini-table-panel'">
                                    <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                                </th:block>
                            </th:block>
                            <div class="col-lg-12 col-lg-4">
                                <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                                    <th:block  th:unless="${panel?.fragmentName} == 'mini-table-panel'">
                                        <div class="row">
                                            <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${pageRows?.pageRowId == 34}">
                <div class="col-lg-8" style="padding-left: 0px;">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="row">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${pageRows?.pageRowId == 35}">
                <div class="row">
                    <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                </div>
                <div class="row">
<!--                    <th:block th:each="panel : ${pageRows?.pageRowPanels}">-->
<!--                        <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>-->
<!--                    </th:block>-->
                    <div class="box_panel">
                        <div class="box_panel-heading2">
                            <div class="circle c_normal"></div>Normal&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="circle c_warning"></div>Warning&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="circle c_danger"></div>Danger
                        </div>
                        <div class="box_table-body">
                            <table class="list_system">
                                <thead>
                                <tr>
                                    <th>Alarm명</th>
                                    <th>Message</th>
                                    <th>Severity</th>
                                    <th>Category</th>
                                    <th>System</th>
                                    <th>Time</th>
                                    <th>Check</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>CPU High</td>
                                    <td>HLI1000 CPU 80%</td>
                                    <td><div class="circle c_normal"></div></td>
                                    <td>VM</td>
                                    <td>HLI1000</td>
                                    <td>2020-03-24   12:34:05</td>
                                    <td><button class="btn btn-md btn-outline-white"><i class="feather icon-file-text"></i> Check</button></td>
                                </tr>
                                <tr>
                                    <td>CPU High</td>
                                    <td>HLI1000 CPU 80%</td>
                                    <td><div class="circle c_warning"></div></td>
                                    <td>VM</td>
                                    <td>HLI1000</td>
                                    <td>2020-03-24   12:34:05</td>
                                    <td><button class="btn btn-md btn-outline-white"><i class="feather icon-check-circle"></i> 확&nbsp;&nbsp;&nbsp;인</button></td>
                                </tr>
                                <tr>
                                    <td>CPU High</td>
                                    <td>HLI1000 CPU 80%</td>
                                    <td><div class="circle c_danger"></div></td>
                                    <td>VM</td>
                                    <td>HLI1000</td>
                                    <td>2020-03-24   12:34:05</td>
                                    <td><button class="btn btn-md btn-outline-white"><i class="feather icon-file-text"></i> Check</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <input type="hidden" id="var-services" th:value="${services?.serviceNamesOfPromQL}">
    <script th:src="@{/assets/js/common-charts.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let pageRows = [[${page?.rows}]],
            apiHost = [[${host}]],
            serviceMap = [[${services?.serviceMap}]];;
        /*]]>*/
        $(document).ready(function () {
            pageRows.forEach(row => row.pageRowPanels.forEach(panel => commonChartsJs.createPanel(panel)));
            $("#headerText").css("margin-top", "3px");
            if(localStorage.getItem("theme") == "dark"){
                $("#tvIcon").attr("src", "/assets/img/tv_dark.png");
            }
            $("#btnTv").css("display", "block");
        });

        function screen(){
            if(localStorage.getItem("screen") == "full") {
                localStorage.setItem("screen", "cancel");
                $("#fullScreen").removeClass("active");
            } else {
                localStorage.setItem("screen", "full");
                $("#fullScreen").addClass("active");
            }
            screenCheck();
        }

        function screenCheck(){
            var screen = localStorage.getItem("screen");
            if(screen == "full"){
                fullScreen();
            }
            if(screen == "cancel"){
                cancelFullScreen();
            }
        }

        function fullScreen() { // 풀스크린 실행
            if(localStorage.getItem("menu") != "close"){ // 좌측 메뉴 닫기
                $("#sidebarToggle").trigger("click");
            }

            var el = document.documentElement;
            var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;

            if (requestMethod) { // Native full screen.
                requestMethod.call(el);
            }
            return false;
        }

        function cancelFullScreen() { // 풀스크린 종료
            var el = document;
            var requestMethod = el.cancelFullScreen||el.webkitCancelFullScreen||el.mozCancelFullScreen||el.exitFullscreen||el.webkitExitFullscreen;
            if (requestMethod) { // cancel full screen.
                requestMethod.call(el);
            }
        }

    </script>
</div>
</body>
</html>