<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot;></i>Dashboard')"/>
    <div id="main_contents">
        <div th:each="pageRows : ${page?.rows}">
            <div class="row">
                <th:block th:if="${pageRows?.pageRowId == 32}">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="col-lg-6" style="min-height: 200px;">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block  th:if="${panel?.fragmentName} == 'head-charts-panel'">
                                <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="col-lg-6">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block  th:if="${panel?.fragmentName} == 'count-card-panel' or ${panel?.fragmentName} == 'count-card-sets-panel'">
                                <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
        <div th:each="pageRows : ${page?.rows}">
            <th:block th:if="${pageRows?.pageRowId == 33}">
                <div class="col-lg-5">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="row">
                        <th:block th:if="${pageRows?.pageRowId == 33}">
                            <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                                <th:block  th:if="${panel?.fragmentName} == 'mini-table-panel'">
                                    <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                                </th:block>
                            </th:block>
                            <div class="col-lg-12 col-lg-5">
                                <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                                    <th:block  th:unless="${panel?.fragmentName} == 'mini-table-panel'">
                                        <div class="row">
                                            <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${pageRows?.pageRowId == 34}">
                <div class="col-lg-7">
                    <div class="row">
                        <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                    </div>
                    <div class="row">
                        <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                            <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${pageRows?.pageRowId == 35}">
                <div class="row">
                    <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${pageRows?.title})"/>
                </div>
                <div class="row">
                    <th:block th:each="panel : ${pageRows?.pageRowPanels}">
                        <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
    <script th:src="@{/assets/js/common-charts.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let pageRows = [[${page?.rows}]],
            apiHost = [[${host}]];
        /*]]>*/
        $(document).ready(function () {
            pageRows.forEach(row => row.pageRowPanels.forEach(panel => commonChartsJs.createPanel(panel)));
        });
    </script>
</div>
</body>
</html>