<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <link rel="stylesheet" th:href="@{/vendor/highlight/vs2015.min.css}">
    <script th:src="@{/vendor/highlight/highlight.min.js}"></script>
    <script th:src="@{/vendor/highlight/json.min.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://code.highcharts.com/css/highcharts.css" />
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Highcharts module -->
    <script th:src="@{/vendor/highcharts/highcharts.js}"></script>
    <script th:src="@{/vendor/highcharts/exporting.js}"></script>
    <script th:src="@{/vendor/highcharts/export-data.js}"></script>
    <script th:src="@{/vendor/highcharts/accessibility.js}"></script>
    <!--TO-DO : 오프라인 모듈로 변경 -->

    <div class="row mx-auto">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Page menu</div>
            </div>
            <select id="page-select" name="page-select" class="form-control">
                <option value="" selected disabled hidden> --- page select ---</option>
                <option th:each="page : ${pages}"
                        th:value="${page?.menuId}" th:text="${page?.title}">page
                </option>
            </select>
        </div>
        <div class="col-md my">
            <span>Page 정보</span>
            <pre>
                <code id="page-data-area" class="json">{"test" : "test", "test1" : "test1"}</code>
            </pre>
        </div>
        <script>
            $(function () {
                const $pageSelect = $('#page-select');
                const $pageDataArea = $('#page-data-area')
                $pageSelect.on('change', function (event) {
                    $.get("/prom/overview/" + $(this).val())
                        .done(function (data) {
                            $pageDataArea.text(JSON.stringify(data, null, '  '));
                            document.querySelectorAll('pre > code').forEach(function (el) {
                                hljs.highlightBlock(el);
                            });
                        })
                        .fail(function () {
                            alert("조회 실패");
                        })
                });
            });
        </script>
    </div>
</div>
</body>
</html>