<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

	<th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Container<i class=&quot;feather icon-chevron-right&quot; ></i>Config<i class=&quot;feather icon-chevron-right&quot; ></i>HPA')"/>
    <div id="main_contents">

        <!-- [Configmaps] start -->
        <div class="row">
            <div class="main_title_top" ><i class="feather icon-chevrons-right"></i> Horizontal Pod Autoscalers
                <!--<div class="f_r">
                    <div class=" d_ib">
                        <div class="form-group has-feedback d_ib">
                            <input type="text" placeholder="Search" class="search_table">
                            <i class="feather icon-search form-control-feedback search_topbar_i" ></i>
                        </div>
                    </div>
                    <div class="dropdown d_ib">
                        <select id="multi-select-box">
                            <option value="통합관리환경 admin">통합관리환경 admin</option>
                            <option value="보험코어 monitor">보험코어 monitor</option>
                            <option value="Cluster monitor">Cluster monitor</option>
                            <option value="Cluster log viewer">Cluster log viewer</option>
                            <option value="On-premise monitor">On-premise monitor</option>
                            <option value="Cluster admin">Cluster admin</option>
                            <option value="Dashboard operator">Dashboard operator</option>
                        </select>
                    </div>
                </div>-->
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(hpa) ? '0' : hpa.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Metrics</th>
                            <th>Min Pods</th>
                            <th>Max Pods</th>
                            <th>Replicas</th>
                            <th>Age</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(hpa)}">
                            <td colspan="8" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(hpa)}" th:each="hpas : ${hpa}">
                            <td th:text="${hpas?.name}"> Name </td>
                            <td>
                                <a class="table2-link" th:href="'javascript:hpaDetail(&quot;' + ${hpas?.namespace} + '&quot;, &quot;'+ ${hpas?.name} + '&quot;)'"
                                   th:utext="${hpas?.name}">Namespace</a>
                                </td>
                            <td th:text="${hpas?.reference}">Metrics</td>
                            <td th:text="${hpas?.minPods}">Min Pods</td>
                            <td th:text="${hpas?.maxPods}">Max Pods</td>
                            <td th:text="${hpas?.replicas}">Replicas</td>
                            <td th:text="${hpas?.age}">Age</td>
                            <td th:text="${hpas?.targets}">Status</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [[Configmaps]] End-->
    </div>
    <!-- [Modal] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|HPA : ${hpas?.name}|" >HPA : HPA명</span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">
                        Overview
                    </div>
                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(hpas?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}">24일 15시 32분 (2020-05-24 15:32:08) </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${hpas?.name}">nginx</td>
                        </tr>
                        <tr>
                            <th>Namespace</th>
                            <td th:text="${hpas?.namespace}">default</td>
                        </tr>
                        <tr>
                            <th>Labels</th>
                            <td>
                                <div class="row" th:each="entry : ${hpas?.labels}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>70}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        label </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>70}" th:text="|${entry.key} : ${entry.value}|">
                                        label </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Annotation</th>
                            <td>
<!--                                <span class="madal_label">kubenetes.io/service-account_name=default</span>-->
                                <div class="row" th:each="entry : ${hpas?.annotations}" >
                                        <span class="madal_label"
                                              th:if = "${#strings.length(entry.value)>70}" th:text="|${entry.key} : ${#strings.substring(entry.value,0,70)}...|">
                                        label </span>
                                    <span class="madal_label"
                                          th:unless = "${#strings.length(entry.value)>70}" th:text="|${entry.key} : ${entry.value}|">
                                        label </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Reference</th>
                            <td th:text="${hpas?.reference}">Deployment/nginx</td>
                        </tr>
                        <tr>
                            <th>Metrics</th>
<!--                                <div class="row" th:each="entry : ${hpa?.metrics}" >-->
                            <td>CPU : 0% / 50% , Memory : 50Mi / 100Mi
                            </td>
                        </tr>
                        <tr>
                            <th>Deployment Pods</th>
                            <td th:text="|${hpas.currentReplicas} : ${hpas.desiredReplicas}|">1 current / 1 desired</td>
                        </tr>
                    </table>

                    <div class="table-title">
                        Conditions
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Reason</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(hpas?.conditions)}">
                            <td colspan="4" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(hpas?.conditions)}" th:each="condition : ${hpas?.conditions}">
                            <td th:text="${condition?.type}">Type</td>
                            <td th:text="${condition?.status}">Status</td>
                            <td th:text="${condition?.reason}">Reason</td>
                            <td th:text="${condition?.message}">Message</td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>AbleToScale</td>-->
<!--                            <td><span class="madal_label_true">True</span></td>-->
<!--                            <td>ReadyForNew Scale</td>-->
<!--                            <td>recommended size matches current size</td>-->
<!--                        </tr>-->

                        <tbody>
                    </table>

                    <div class="table-title">
                        Events
                    </div>
                    <table class="list_mtable_100">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Source</th>
                            <th>Count</th>
                            <th>Sub-Object</th>
                            <th>Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(hpas?.events)}">
                            <td colspan="5" class="text-center">No events</td>
                        </tr>
                        <tr th:if="${hpas?.events}" th:each="event : ${hpas?.events}">
                            <td th:text="${event?.name}">Event</td>
                            <td th:text="${event?.source}">Source</td>
                            <td th:text="${event?.count"}>Count</td>
                            <td th:text="${#strings.isEmpty(event?.subObject) ? '-' : event?.subObject}">Sub-Object</td>
                            <td th:text="${#dates.format(event?.lastSeen, 'yyyy-MM-dd HH:mm:ss')}">Last</td>
                        </tr>
<!--                        -->
<!--                        <tr>-->
<!--                            <td>Event Message</td>-->
<!--                            <td>///</td>-->
<!--                            <td>00</td>-->
<!--                            <td>Object name</td>-->
<!--                            <td>2020-06-23 (13:45:13)</td>-->
<!--                        </tr>-->
                        <tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- [Modal] End -->
    <script type="text/javascript" th:inline="javascript">
        function hpaDetail(namespace, name) {
            $.ajax({
                url: "/cluster/config/hpa/namespace/" + namespace + "/hpas/" + name,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }
    </script>

</div>
</body>
</html>