<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
            </div>
        </div>

        <div class="row">
            <div class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(namespaces) ? '0' : namespaces.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(namespaces)}">
                                <td colspan="3" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(namespaces)}" th:each="namespace : ${namespaces}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer;" th:attr="data-name=${namespace?.name}" th:utext="${namespace?.name}"></a>
                                </td>
                                <td th:text="${namespace?.age}"></td>
                                <td th:switch="${namespace?.status}">
                                    <span th:case="Running" class="madal_label_active" th:text="${namespace?.status}"></span>
                                    <span th:case="Active" class="madal_label_active" th:text="${namespace?.status}"></span>
                                    <span th:case="Ready" class="madal_label_active" th:text="${namespace?.status}"></span>
                                    <span th:case="*" class="madal_label" th:text="${namespace?.status}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Namespaces : ${namespace?.name}|"></span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title">Metadata</div>
                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(namespace?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${namespace?.name}"></td>
                        </tr>
                        <tr>
                            <th>Labels</th>
                            <td>
                                <div class="row" th:if="${namespace?.labels}" th:each="entry : ${namespace?.labels}">
                                    <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                </div>
                                <div th:unless="${namespace?.labels}">-</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Annotations</th>
                            <td>
                                <div class="row" th:if="${namespace?.annotations}" th:each="entry : ${namespace?.annotations}">
                                    <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                </div>
                                <div th:unless="${namespace?.annotations}">-</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td th:switch="${namespace?.status}">
                                <span th:case="Running" class="madal_label_active" th:text="${namespace?.status}"></span>
                                <span th:case="Active" class="madal_label_active" th:text="${namespace?.status}"></span>
                                <span th:case="Ready" class="madal_label_active" th:text="${namespace?.status}"></span>
                                <span th:case="*" class="madal_label" th:text="${namespace?.status}"></span>
                            </td>
                        </tr>
                            <th>Resource Quotas</th>
                            <td>
                                <div th:if="${#arrays.isEmpty(namespace?.resourceQuotas)}">-</div>
                                <div th:unless="${#arrays.isEmpty(namespace?.resourceQuotas)}" th:each="resourceQuota : ${namespace?.resourceQuotas}" th:text="${resourceQuota}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        const pathPrefix = '/cluster/config/namespaces/';

        $(document).ready(function() {
            $(document).on('click', 'a.table2-link', function() {
                kube.showModal(pathPrefix + $(this).data('name'));
            });
        });
    </script>
</div>
</body>
</html>
