<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

	<th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>K8s Cluster<i class=&quot;feather icon-chevron-right&quot; ></i>Configuration<i class=&quot;feather icon-chevron-right&quot; ></i>Resource Quotas')"/>
    <div id="main_contents">

        <!-- [Resource Quotas] start -->
        <div class="row">
            <div class="main_title_top" ><i class="feather icon-chevrons-right"></i> Resource Quotas
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}"
                                class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}"
                                    th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}"
                                    th:value="${value?.name}" th:text="${value?.name}">value</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(resourceQuotas) ? '0' : resourceQuotas.size()}" class="point pr_10">6</span>
                </div>
                <div class="box_table-body">
                    <table class="list_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Namespace</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#arrays.isEmpty(resourceQuotas)}">
                            <td colspan="3" class="text-center">No results</td>
                        </tr>
                        <tr th:unless="${#arrays.isEmpty(resourceQuotas)}" th:each="resourceQuota : ${resourceQuotas}">
                            <td>
                                <a class="table2-link" th:href="'javascript:resourceQuotaDetail(&quot;' + ${resourceQuota?.namespace} + '&quot;, &quot;'+ ${resourceQuota?.name} + '&quot;)'"
                                   th:utext="${resourceQuota?.name}">Name</a>
                            </td>
                            <td th:text="${resourceQuota?.namespace}">Namespace</td>
                            <td th:text="${resourceQuota?.age}">Age</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [Resource Quotas] End-->
    </div>
    <!-- [Modal] start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Resource Quota : ${resourceQuota?.name}|">Resource Quotas</span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">
                        Resource
                    </div>

                    <table class="list_mtable">
                        <thead>
                        <tr>
                            <th>Resource</th>
                            <th>Used</th>
                            <th>Hard</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="entry : ${resourceQuota?.getUsedHard()}">
                            <td th:text = "${entry.key}"></td>
                            <td th:text = "${entry.value?.used.getNumber()}"></td>
                            <td th:text = "${entry.value?.hard.getNumber()}"></td>
                        </tr>
                        <tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- [Modal] End -->

    <script type="text/javascript" th:inline="javascript">

        var $contentList = $("#contentList"),
            linkUrl= [[${link}]];

        function resourceQuotaDetail(namespace, name) {
            $.ajax({
                url: "/cluster/config/resource-quotas/namespace/" + namespace + "/resourceQuota/" + name,
                success: function (data) {
                    $('#myModal').text("");
                    $('#myModal').html(data);
                    $('#myModal').modal();
                    $(".knob").knob();
                },
                error: function (e) {
                    if (e.status === 401) {
                        $(location).attr('href', '/login?logout')
                    }
                }
            });
        }

         $(document).ready(function () {

            $("#namespace").on("change", function () {
                const $namespace = $(this);
                const selectedNamespace = $namespace.val();
                let url = linkUrl.replace(new RegExp('{namespace}', 'g'), selectedNamespace);
                console.log("url=", url);
                $.ajax({
                    url: url,
                    success: function (data) {
                        $contentList.text("");
                        $contentList.html(data);
                    },
                    error: function (e) {
                        if (e.status === 401) {
                            $(location).attr('href', '/login?logout')
                        }
                    }
                });
            });
        });
    </script>


</div>
</body>
</html>