<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}" class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}" th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}" th:value="${value?.name}" th:text="${value?.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(resourceQuotas) ? '0' : resourceQuotas.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(resourceQuotas)}">
                                <td colspan="3" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(resourceQuotas)}" th:each="resourceQuota : ${resourceQuotas}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer;" th:attr="data-namespace=${resourceQuota?.namespace}, data-name=${resourceQuota?.name}" th:utext="${resourceQuota?.name}"></a>
                                </td>
                                <td th:text="${resourceQuota?.namespace}"></td>
                                <td th:text="${resourceQuota?.age}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Resource Quota : ${resourceQuota?.name}|"></span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">Resource</div>
                    <table class="list_mtable">
                        <thead>
                            <tr>
                                <th>Resource</th>
                                <th>Used</th>
                                <th>Hard</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entry : ${resourceQuota?.getUsedHard()}">
                                <td th:text="${entry.key}"></td>
                                <td th:text="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).toStringQuantity(entry.value?.used)}"></td>
                                <td th:text="${T(com.kubeworks.watcher.ecosystem.ExternalConstants).toStringQuantity(entry.value?.hard)}"></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const linkUrl= [[${link}]];
        const pathPrefix = '/cluster/config/resource-quotas/namespace/';
        /*]]>*/

        $(document).ready(function() {
            $(document).on('change', '#namespace', function() {
                kube.reloadList(linkUrl.replace('{namespace}', $.trim($(this).val())));
            });

            $(document).on('click', 'a.table2-link', function() {
                kube.showModal(pathPrefix + $(this).data('namespace') + '/resourceQuota/' + $(this).data('name'));
            });
        });
    </script>
</div>
</body>
</html>
