<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(${page?.nav})" />
    <div id="main_contents">
        <div class="row">
            <div class="main_title_top">
                <i class="feather icon-chevrons-right"></i>&nbsp;<span th:text="${page?.title}"></span>
                <div class="f_r">
                    <div class="dropdown d_ib">
                        <select th:disabled="${namespaces == null ? 'true' : 'false'}" class="custom-select" id="namespace">
                            <option value="all" selected> All </option>
                            <option th:each="value : ${namespaces}" th:if="${!#strings.equalsIgnoreCase(namespace?.status, 'Active')}" th:value="${value?.name}" th:text="${value?.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentList" class="row">
            <div th:fragment="contentList" class="box_panel">
                <div class="box_panel-total">
                    Total : <span th:text="${#arrays.isEmpty(secrets) ? '0' : secrets.size()}" class="point pr_10"></span>
                </div>
                <div class="box_table-body">
                    <table class="list_table70vh">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Keys</th>
                                <th>Type</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#arrays.isEmpty(secrets)}">
                                <td colspan="5" class="text-center">No results</td>
                            </tr>
                            <tr th:unless="${#arrays.isEmpty(secrets)}" th:each="secret : ${secrets}">
                                <td>
                                    <a class="table2-link" style="color: #f37320; cursor: pointer; text-decoration: underline;" th:attr="data-namespace=${secret?.namespace}, data-name=${secret?.name}" th:utext="${secret?.name}"></a>
                                </td>
                                <td th:text="${secret?.namespace}"></td>
                                <td th:text="${secret?.dataCount}"></td>
                                <td th:text="${secret?.type}"></td>
                                <td th:text="${secret?.age}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="myModalLabel" th:text="|Secret : ${secret?.name}|"></span>
                    </div>
                </div>
                <div class="modal-nbody">
                    <div class="table-title">Metadata</div>
                    <table class="table-nt">
                        <tr>
                            <th>Created</th>
                            <td th:text="${#dates.format(secret?.creationTimestamp,'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${secret?.name}"></td>
                        </tr>
                        <tr>
                            <th>Namespace</th>
                            <td th:text="${secret?.namespace}"></td>
                        </tr>
                        <tr>
                            <th>Annotations</th>
                            <td>
                                <div class="row" th:if="${secret?.annotations}" th:each="entry : ${secret?.annotations}">
                                    <span class="madal_label" th:text="|${entry.key} : ${#strings.abbreviate(entry.value,60)}|"></span>
                                </div>
                                <div th:unless="${secret?.annotations}">-</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td th:text="${#strings.isEmpty(secret?.type) ? '-' : secret?.type}"></td>
                        </tr>
                    </table>

                    <div th:if="${secret?.data}">
                        <div class="table-title">Secret</div>
                        <div class="scrollBoard">
                            <div class="pre-title" th:each="codeId : ${secret?.data}">
                                <input th:id="|modal-answer-${codeId?.key}|" type="checkbox" name="accordion" id="modal-answer">
                                <label th:for="|modal-answer-${codeId?.key}|" for="modal-answer" style="height:30px; color:#bebebe">
                                    <span th:text="${codeId?.key}">kube-state-metrics</span><em></em>
                                </label>
                                <div class="row">
                                    <pre><code class="hljs" style="background-color: transparent;" th:attr="data-kk=${codeId?.key}" th:text="${codeId?.value}"></code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" th:href="@{/vendor/highlight/styles/base16/solarized-dark.min.css}">

    <script th:src="@{/vendor/highlight/highlight.js}"></script>
    <script th:src="@{/vendor/highlight/languages/bash.min.js}"></script>
    <script th:src="@{/vendor/highlight/languages/json.min.js}"></script>
    <script th:src="@{/vendor/highlight/languages/nginx.min.js}"></script>
    <script th:src="@{/vendor/highlight/languages/yaml.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const linkUrl= [[${link}]];
        const pathPrefix = '/cluster/config/secrets/namespace/';
        /*]]>*/

        $(document).ready(function() {
            $(document).on('change', '#namespace', function() {
                kube.reloadList(linkUrl.replace('{namespace}', $.trim($(this).val())));
            });

            $(document).on('click', 'a.table2-link', function() {
                kube.showModal(pathPrefix + $(this).data('namespace') + '/secret/' + $(this).data('name'), {fn: hiHigh.highlight, arg: hljs});
            });
        });
    </script>
</div>
</body>
</html>
