<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block
        th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Monitoring<i class=&quot;feather icon-chevron-right&quot; ></i>Logging')"/>
    <div id="main_contents">
        <div th:each="panelRow : ${page?.rows}">
<!--            <div class="row">-->
<!--                <th:block th:replace="layout/fragments/panelTypes :: page-row-header(${panelRow?.title})"/>-->
<!--            </div>-->
            <div class="row">
                <th:block th:each="panel : ${panelRow?.pageRowPanels}">
                    <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})"/>
                </th:block>
            </div>
        </div>
    </div>


    <!-- [Modal] Start -->
    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true" >
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px table-layout:fixed;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="serviceName"></span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title" id="">
                    </div>
                    <div class="row">
                        <table id="logModalTable" class="list_table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [Modal] End -->


<!--    <script th:src="@{/assets/js/common-charts.js}"></script>-->
    <script th:src="@{/assets/js/loki.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>
    <script th:src="@{/assets/js/moment.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        let pageRows = [[${page?.rows}]],
            apiHost = [[${host}]],
            serviceMap = [[${services}]];
        /*]]>*/

        console.log("pageRows :",pageRows);
<!--        console.log("apiHost :",apiHost);-->
        console.log("serviceMap :",serviceMap);

       document.getElementById('startDate').value = moment().format('YYYY-MM-DD');
       document.getElementById('startTime').value = moment("12:00 AM",["h:mm A"]).format("HH:mm");
       document.getElementById('endDate').value = moment().format('YYYY-MM-DD');
       document.getElementById('endTime').value = moment("11:59 PM",["h:mm A"]).format("HH:mm");

        $(document).ready(function () {
            <!--pageRows.forEach(row => row.pageRowPanels.forEach(panel => lokiJs.createPanel(panel))));-->

            pageRows.forEach(row => row.pageRowPanels.forEach(panel => lokiJs.createPanel(panel,serviceMap)));

        });

    </script>
</div>
</body>
</html>