<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:replace="layout/header :: header(navTitle='Home<i class=&quot;feather icon-chevron-right&quot; ></i>Monitoring<i class=&quot;feather icon-chevron-right&quot; ></i>Logging')" />
    <div id="main_contents">
        <div th:each="panelRow : ${page?.rows}">
            <div class="row">
                <th:block th:each="panel : ${panelRow?.pageRowPanels}">
                    <th:block th:replace="layout/fragments/panelTypes :: ${panel?.fragmentName}(${panel})" />
                </th:block>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
        <div th:fragment="modalContents" class="modal-dialog modal-lg" style="width:765px table-layout:fixed;">
            <div class="modal-content">
                <div class="modal-title_box">
                    <div class="modal-title">
                        <button type="button" class="close px-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="serviceName"></span>
                    </div>
                </div>
                <div class="modal-nbody row_scroll">
                    <div class="table-title" id=""></div>
                    <div class="row">
                        <table id="logModalTable" class="list_table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="var-application" th:value="${applicationValue}" />

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.css}">

    <script th:src="@{/assets/js/loki.js}"></script>
    <script th:src="@{/assets/js/common-variables.js}"></script>
    <script th:src="@{/vendor/mustache/mustache.min.js}"></script>
    <script th:src="@{/assets/js/moment.js}"></script>
    <script th:src="@{/assets/js/moment.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const apiHost = [[${host}]];
        const pageRows = [[${page?.rows}]];
        const serviceMap = [[${services}]];
        /*]]>*/

        $(document).ready(function() {
            const options = {
                showTimeSelect: true, format: "hh:mm A",
                timepickerLeftMargin: "0px", ignoreReadonly: true, useCurrent: true
            };

            $('#toDay').text(moment().format('YYYY-MM-DD'));
            pageRows.forEach(row => row['pageRowPanels'].forEach(panel => lokiJs.createPanel(panel,serviceMap)));

            $('#datetimepicker1').datetimepicker(options);
            $('#datetimepicker2').datetimepicker(options);

            $("#datetimepicker1").on("dp.change", function(e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function(e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
</div>
</body>
</html>
